Repository Simple-Station/Parkstation, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DEATHB4DEFEAT, @Pspritechologist, @AriaMoradi, @TemporalPrdx

Automatic Changelog Update (#72)
  Resources/Changelog/SimpleStationChangelog.yml
Owners: @DEATHB4DEFEAT

Automatic Changelog Update (#56)
  Resources/Changelog/SimpleStationChangelog.yml
Owners: @DEATHB4DEFEAT

Trait cost rebalancing (#66)
  Resources/Prototypes/SimpleStation14/Traits/abilities.yml
  Resources/Prototypes/SimpleStation14/Traits/disabilities.yml
Owners: @Pspritechologist, @DEATHB4DEFEAT

Automatic Changelog Update (#66)
  Resources/Changelog/SimpleStationChangelog.yml
Owners: @DEATHB4DEFEAT

Revert "humanoidvisuallayers"
  Content.Client/Clothing/ClientClothingSystem.cs
  Content.Shared/Humanoid/HumanoidVisualLayers.cs
  Resources/Prototypes/Entities/Mobs/Species/base.yml
  Resources/Prototypes/Nyanotrasen/Entities/Mobs/Species/arachne.yml
  Resources/Prototypes/Nyanotrasen/Entities/Mobs/Species/felinid.yml
  Resources/Prototypes/Nyanotrasen/Entities/Mobs/Species/moth.yml
  Resources/Prototypes/Nyanotrasen/Entities/Mobs/Species/oni.yml
  Resources/Prototypes/SimpleStation14/Entities/Mobs/Player/shadowkin.yml
Owners: @DEATHB4DEFEAT, @Pspritechologist

fix power grid check playing default and new sound
  Content.Server/StationEvents/Events/PowerGridCheck.cs
Owners: @DEATHB4DEFEAT

Prototype has audio params instead of function
  Content.Server/SimpleStation14/Announcements/Prototypes/AnnouncerPrototype.cs
  Content.Server/SimpleStation14/Announcements/Systems/AnnouncerSystem.Announce.cs
Owners: @Pspritechologist, @DEATHB4DEFEAT

AlertLevelSystem uses AnnouncerSystem
  Content.Server/AlertLevel/AlertLevelSystem.cs
  Resources/Audio/SimpleStation14/Announcements/Intern/newai.ogg
  Resources/Audio/SimpleStation14/Announcements/NEIL/code_blue.ogg
  Resources/Audio/SimpleStation14/Announcements/NEIL/code_delta.ogg
  Resources/Audio/SimpleStation14/Announcements/NEIL/code_epsilon.ogg
  Resources/Audio/SimpleStation14/Announcements/NEIL/code_gamma.ogg
  Resources/Audio/SimpleStation14/Announcements/NEIL/code_green.ogg
  Resources/Audio/SimpleStation14/Announcements/NEIL/code_red.ogg
  Resources/Audio/SimpleStation14/Announcements/NEIL/code_violet.ogg
  Resources/Audio/SimpleStation14/Announcements/NEIL/code_white.ogg
  Resources/Audio/SimpleStation14/Announcements/NEIL/code_yellow.ogg
  Resources/Audio/SimpleStation14/Announcements/NEIL/newai.ogg
  Resources/Prototypes/SimpleStation14/Announcers/intern.yml
  Resources/Prototypes/SimpleStation14/Announcers/medbot.yml
  Resources/Prototypes/SimpleStation14/Announcers/neil.yml
  Resources/Prototypes/SimpleStation14/Announcers/voxfem.yml
Owners: @DEATHB4DEFEAT, @Pspritechologist

AnnounceCommand & AnnounceUiCommand use AnnouncerSystem
  Content.Server/Administration/UI/AdminAnnounceEui.cs
  Content.Server/Announcements/AnnounceCommand.cs
Owners: @DEATHB4DEFEAT

Remove old announcement sounds
  Content.Server/AlertLevel/AlertLevelPrototype.cs
  Resources/Audio/Announcements/Alerts/code_blue.ogg
  Resources/Audio/Announcements/Alerts/code_delta.ogg
  Resources/Audio/Announcements/Alerts/code_epsilon.ogg
  Resources/Audio/Announcements/Alerts/code_gamma.ogg
  Resources/Audio/Announcements/Alerts/code_green.ogg
  Resources/Audio/Announcements/Alerts/code_red.ogg
  Resources/Audio/Announcements/Alerts/code_violet.ogg
  Resources/Audio/Announcements/Alerts/code_white.ogg
  Resources/Audio/Announcements/Alerts/code_yellow.ogg
  Resources/Audio/Announcements/aliens.ogg
  Resources/Audio/Announcements/announce.ogg
  Resources/Audio/Announcements/attention.ogg
  Resources/Audio/Announcements/bloblarm.ogg
  Resources/Audio/Announcements/bureaucratic_error.ogg
  Resources/Audio/Announcements/gas_leak.ogg
  Resources/Audio/Announcements/kudzu.ogg
  Resources/Audio/Announcements/license.txt
  Resources/Audio/Announcements/meteors.ogg
  Resources/Audio/Announcements/noosphericstorm.ogg
  Resources/Audio/Announcements/outbreak7.ogg
  Resources/Audio/Announcements/power_off.ogg
  Resources/Audio/Announcements/power_on.ogg
  Resources/Audio/Announcements/radiation.ogg
  Resources/Audio/Announcements/shuttle_dock.ogg
  Resources/Audio/Announcements/shuttlecalled.ogg
  Resources/Audio/Announcements/shuttlerecalled.ogg
  Resources/Audio/Announcements/ventclog.ogg
  Resources/Audio/Announcements/welcome.ogg
  Resources/Prototypes/AlertLevels/alert_levels.yml
Owners: @DEATHB4DEFEAT

Fix case sensitive announcement IDs
  Content.Server/SimpleStation14/Announcements/Systems/AnnouncerSystem.Announce.cs
Owners: @Pspritechologist, @DEATHB4DEFEAT

Remove sound vars from gamerules
  Content.Server/GameTicking/Rules/Configurations/StationEventRuleConfiguration.cs
  Resources/Prototypes/GameRules/events.yml
  Resources/Prototypes/Nyanotrasen/GameRules/events.yml
Owners: @DEATHB4DEFEAT

fix tests
  Content.Server/Announcements/RoundAnnouncementPrototype.cs
  Content.Server/GameTicking/GameTicker.RoundFlow.cs
  Resources/Prototypes/round_announcements.yml
Owners: @DEATHB4DEFEAT

intern meteor swarm
  Resources/Prototypes/SimpleStation14/Announcers/intern.yml
  Resources/Prototypes/SimpleStation14/Announcers/medbot.yml
  Resources/Prototypes/SimpleStation14/Announcers/neil.yml
Owners: @Pspritechologist, @DEATHB4DEFEAT

Fugitive sends a commandreport announcement
  Content.Server/Nyanotrasen/Fugitive/FugitiveSystem.cs
Owners: @DEATHB4DEFEAT

Clean up AnnouncerSystem
  Content.Server/AlertLevel/AlertLevelSystem.cs
  Content.Server/SimpleStation14/Announcements/Systems/AnnouncerSystem.Announce.cs
  Content.Server/SimpleStation14/Announcements/Systems/AnnouncerSystem.Announcer.cs
  Content.Server/SimpleStation14/Announcements/Systems/AnnouncerSystem.Initialize.cs
Owners: @DEATHB4DEFEAT, @Pspritechologist

Added centcomm duffelbag and centcomm backpack. Made by generic, if you have issues, contact be through discord.
  Resources/Prototypes/Entities/Clothing/Back/backpacks.yml
  Resources/Prototypes/Entities/Clothing/Back/duffel.yml
  Resources/Textures/Clothing/Back/Backpacks/centcom.rsi/equipped-BACKPACK.png
  Resources/Textures/Clothing/Back/Backpacks/centcom.rsi/icon.png
  Resources/Textures/Clothing/Back/Backpacks/centcom.rsi/inhand-left.png
  Resources/Textures/Clothing/Back/Backpacks/centcom.rsi/inhand-right.png
  Resources/Textures/Clothing/Back/Backpacks/centcom.rsi/meta.json
  Resources/Textures/Clothing/Back/Duffels/centcom.rsi/equipped-BACKPACK.png
  Resources/Textures/Clothing/Back/Duffels/centcom.rsi/icon.png
  Resources/Textures/Clothing/Back/Duffels/centcom.rsi/inhand-left.png
  Resources/Textures/Clothing/Back/Duffels/centcom.rsi/inhand-right.png
  Resources/Textures/Clothing/Back/Duffels/centcom.rsi/meta.json
Owners: @DEATHB4DEFEAT

Hope this is not broken
  Resources/Prototypes/lobbyscreens.yml
  Resources/Textures/LobbyScreens/attributions.yml
  Resources/Textures/LobbyScreens/planets.png
  Resources/Textures/LobbyScreens/planets.png.yml
Owners: @DEATHB4DEFEAT

Apply suggestions from code review
  Content.Client/SimpleStation14/Species/Shadowkin/Systems/ShadowkinPowerSystem.DarkSwapped.cs
Owners: @Pspritechologist, @DEATHB4DEFEAT

revert clothing mask changes
  Content.Client/Clothing/ClientClothingSystem.cs
  Content.Shared/Humanoid/HumanoidVisualLayers.cs
  Resources/Prototypes/Entities/Mobs/Species/base.yml
  Resources/Prototypes/Nyanotrasen/Entities/Mobs/Species/arachne.yml
  Resources/Prototypes/Nyanotrasen/Entities/Mobs/Species/felinid.yml
  Resources/Prototypes/Nyanotrasen/Entities/Mobs/Species/moth.yml
  Resources/Prototypes/Nyanotrasen/Entities/Mobs/Species/oni.yml
  Resources/Prototypes/SimpleStation14/Entities/Mobs/Player/shadowkin.yml
Owners: @DEATHB4DEFEAT, @Pspritechologist

other things from review
  Content.Client/SimpleStation14/Species/Shadowkin/Systems/ShadowkinPowerSystem.DarkSwapped.cs
  Content.Client/SimpleStation14/Species/Shadowkin/Systems/ShadowkinSystem.Blackeye.cs
  Content.Server/Bed/Sleep/SleepingSystem.cs
  Content.Server/SimpleStation14/Chat/SimpleStationChatSystem.cs
  Content.Server/SimpleStation14/Species/Shadowkin/Systems/ShadowkinPowerSystem.DarkSwap.cs
  Content.Server/SimpleStation14/Species/Shadowkin/Systems/ShadowkinPowerSystem.Darken.cs
  Content.Server/SimpleStation14/Species/Shadowkin/Systems/ShadowkinPowerSystem.Teleport.cs
  Content.Server/SimpleStation14/Species/Shadowkin/Systems/ShadowkinSystem.Blackeye.cs
  Content.Server/SimpleStation14/Species/Shadowkin/Systems/ShadowkinSystem.cs
  Content.Shared/SimpleStation14/Species/Shadowkin/Components/ShadowkinComponent.cs
  Content.Shared/SimpleStation14/Species/Shadowkin/Systems/ShadowkinPowerSystem.cs
Owners: @Pspritechologist, @DEATHB4DEFEAT

updates hop description regarding leading service
  Resources/Locale/en-US/job/job-description.ftl
Owners: @Pspritechologist, @DEATHB4DEFEAT

adds localization and description to css
  Resources/Locale/en-US/job/job-description.ftl
  Resources/Locale/en-US/job/job-names.ftl
  Resources/Prototypes/SimpleStation14/Roles/Jobs/Service/chief_service_supervisor.yml
Owners: @Pspritechologist, @DEATHB4DEFEAT

Apply requested suggestions changing weird phrasing
  Resources/Locale/en-US/job/job-description.ftl
Owners: @Pspritechologist, @DEATHB4DEFEAT

Announce(Ui)(Command) supports AnnouncerSystem
  Content.Client/Administration/UI/AdminAnnounceWindow.xaml
  Content.Client/Administration/UI/AdminAnnounceWindow.xaml.cs
  Content.Client/Administration/UI/AdminMenuWindowEui.cs
  Content.Server/Administration/UI/AdminAnnounceEui.cs
  Content.Server/Announcements/AnnounceCommand.cs
  Content.Server/SimpleStation14/Announcements/Systems/AnnouncerSystem.Announce.cs
  Content.Server/SimpleStation14/Announcements/Systems/AnnouncerSystem.Announcer.cs
  Content.Server/SimpleStation14/Announcements/Systems/AnnouncerSystem.Initialize.cs
  Content.Shared/Administration/AdminAnnounceEuiState.cs
  Content.Shared/SimpleStation14/Announcements/Prototypes/AnnouncerPrototype.cs
  Resources/Locale/en-US/SimpleStation14/Content/Announcer/announce.ftl
Owners: @DEATHB4DEFEAT, @Pspritechologist

it does (nothing)
  Content.Server/Chemistry/EntitySystems/SolutionSpikableSystem.cs
  Content.Server/SimpleStation14/Chemistry/Components/SpikeOnCollideComponent.cs
  Content.Server/SimpleStation14/Chemistry/Systems/SpikeOnCollideSystem.cs
  Resources/Prototypes/Entities/Objects/Specific/chemistry.yml
Owners: @DEATHB4DEFEAT, @Pspritechologist

.github/CODEOWNERS:

# Last match in file takes precedence.

/.* @DEATHB4DEFEAT


/Content.*/ @DEATHB4DEFEAT
/Content.*/SimpleStation14/ @Pspritechologist @DEATHB4DEFEAT


/Resources/ @DEATHB4DEFEAT

/Resources/Audio/SimpleStation14 @Pspritechologist @DEATHB4DEFEAT

/Resources/Maps/ @Pspritechologist @DEATHB4DEFEAT

/Resources/Prototypes/Maps @Pspritechologist @DEATHB4DEFEAT
/Resources/Prototypes/SimpleStation14/ @Pspritechologist @DEATHB4DEFEAT

/Resources/Textures/SimpleStation14/ @Pspritechologist @DEATHB4DEFEAT

*.ftl @Pspritechologist @DEATHB4DEFEAT


/Scripts/ @DEATHB4DEFEAT
/Scripts/sh/ @AriaMoradi

/sloth.txt @Pspritechologist @DEATHB4DEFEAT @TemporalPrdx
