Repository Simple-Station/Parkstation, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DEATHB4DEFEAT, @Pspritechologist, @AriaMoradi, @TemporalPrdx

.github/CODEOWNERS:

# Last match in file takes precedence.

/.* @DEATHB4DEFEAT


/Content.*/ @DEATHB4DEFEAT
/Content.*/SimpleStation14/ @Pspritechologist @DEATHB4DEFEAT


/Resources/ @DEATHB4DEFEAT

/Resources/Audio/SimpleStation14 @Pspritechologist @DEATHB4DEFEAT

/Resources/Maps/ @Pspritechologist @DEATHB4DEFEAT

/Resources/Prototypes/Maps @Pspritechologist @DEATHB4DEFEAT
/Resources/Prototypes/SimpleStation14/ @Pspritechologist @DEATHB4DEFEAT

/Resources/Textures/SimpleStation14/ @Pspritechologist @DEATHB4DEFEAT

*.ftl @Pspritechologist @DEATHB4DEFEAT


/Scripts/ @DEATHB4DEFEAT
/Scripts/sh/ @AriaMoradi

/sloth.txt @Pspritechologist @DEATHB4DEFEAT @TemporalPrdx

Fix announcerSystem
  Content.Server/SimpleStation14/Announcements/Prototypes/AnnouncerPrototype.cs
  Content.Server/SimpleStation14/Announcements/Systems/AnnouncerSystem.Announce.cs
Owners: @Pspritechologist, @DEATHB4DEFEAT

files broke pt.1
  Resources/Audio/SimpleStation14/Announcements/Nyanotrasens/announce.ogg
  Resources/Audio/SimpleStation14/Announcements/Nyanotrasens/attention.ogg
  Resources/Audio/SimpleStation14/Announcements/Nyanotrasens/bureaucraticerror.ogg
  Resources/Audio/SimpleStation14/Announcements/Nyanotrasens/fallback.ogg
  Resources/Audio/SimpleStation14/Announcements/Nyanotrasens/gasleak.ogg
  Resources/Audio/SimpleStation14/Announcements/Nyanotrasens/kudzu.ogg
  Resources/Audio/SimpleStation14/Announcements/Nyanotrasens/meteors.ogg
  Resources/Audio/SimpleStation14/Announcements/Nyanotrasens/noosphericstorm.ogg
  Resources/Audio/SimpleStation14/Announcements/Nyanotrasens/outbreak7.ogg
  Resources/Audio/SimpleStation14/Announcements/Nyanotrasens/poweroff.ogg
  Resources/Audio/SimpleStation14/Announcements/Nyanotrasens/poweron.ogg
  Resources/Audio/SimpleStation14/Announcements/Nyanotrasens/radiation.ogg
  Resources/Audio/SimpleStation14/Announcements/Nyanotrasens/shuttlecalled.ogg
  Resources/Audio/SimpleStation14/Announcements/Nyanotrasens/shuttledock.ogg
  Resources/Audio/SimpleStation14/Announcements/Nyanotrasens/shuttlerecalled.ogg
  Resources/Audio/SimpleStation14/Announcements/Nyanotrasens/ventclog.ogg
  Resources/Audio/SimpleStation14/Announcements/Nyanotrasens/welcome.ogg
  Resources/Audio/SimpleStation14/Announcements/VoxFemale/aliens.ogg
  Resources/Audio/SimpleStation14/Announcements/VoxFemale/announce.ogg
  Resources/Audio/SimpleStation14/Announcements/VoxFemale/attention.ogg
  Resources/Audio/SimpleStation14/Announcements/VoxFemale/commandreport.ogg
  Resources/Audio/SimpleStation14/Announcements/VoxFemale/fallback.ogg
  Resources/Audio/SimpleStation14/Announcements/VoxFemale/ionstorm.ogg
  Resources/Audio/SimpleStation14/Announcements/VoxFemale/meteors.ogg
  Resources/Audio/SimpleStation14/Announcements/VoxFemale/outbreak7.ogg
  Resources/Audio/SimpleStation14/Announcements/VoxFemale/poweroff.ogg
  Resources/Audio/SimpleStation14/Announcements/VoxFemale/poweron.ogg
  Resources/Audio/SimpleStation14/Announcements/VoxFemale/radiation.ogg
  Resources/Audio/SimpleStation14/Announcements/VoxFemale/shuttlecalled.ogg
  Resources/Audio/SimpleStation14/Announcements/VoxFemale/shuttledock.ogg
  Resources/Audio/SimpleStation14/Announcements/VoxFemale/shuttlerecalled.ogg
  Resources/Audio/SimpleStation14/Announcements/VoxFemale/welcome.ogg
Owners: @Pspritechologist, @DEATHB4DEFEAT

files broke pt.2
  Resources/Audio/SimpleStation14/Announcements/Nyanotrasen/announce.ogg
  Resources/Audio/SimpleStation14/Announcements/Nyanotrasen/attention.ogg
  Resources/Audio/SimpleStation14/Announcements/Nyanotrasen/bureaucraticerror.ogg
  Resources/Audio/SimpleStation14/Announcements/Nyanotrasen/fallback.ogg
  Resources/Audio/SimpleStation14/Announcements/Nyanotrasen/gasleak.ogg
  Resources/Audio/SimpleStation14/Announcements/Nyanotrasen/kudzu.ogg
  Resources/Audio/SimpleStation14/Announcements/Nyanotrasen/meteors.ogg
  Resources/Audio/SimpleStation14/Announcements/Nyanotrasen/noosphericstorm.ogg
  Resources/Audio/SimpleStation14/Announcements/Nyanotrasen/outbreak7.ogg
  Resources/Audio/SimpleStation14/Announcements/Nyanotrasen/poweroff.ogg
  Resources/Audio/SimpleStation14/Announcements/Nyanotrasen/poweron.ogg
  Resources/Audio/SimpleStation14/Announcements/Nyanotrasen/radiation.ogg
  Resources/Audio/SimpleStation14/Announcements/Nyanotrasen/shuttlecalled.ogg
  Resources/Audio/SimpleStation14/Announcements/Nyanotrasen/shuttledock.ogg
  Resources/Audio/SimpleStation14/Announcements/Nyanotrasen/shuttlerecalled.ogg
  Resources/Audio/SimpleStation14/Announcements/Nyanotrasen/ventclog.ogg
  Resources/Audio/SimpleStation14/Announcements/Nyanotrasen/welcome.ogg
  Resources/Audio/SimpleStation14/Announcements/VoxFem/aliens.ogg
  Resources/Audio/SimpleStation14/Announcements/VoxFem/announce.ogg
  Resources/Audio/SimpleStation14/Announcements/VoxFem/attention.ogg
  Resources/Audio/SimpleStation14/Announcements/VoxFem/commandreport.ogg
  Resources/Audio/SimpleStation14/Announcements/VoxFem/fallback.ogg
  Resources/Audio/SimpleStation14/Announcements/VoxFem/ionstorm.ogg
  Resources/Audio/SimpleStation14/Announcements/VoxFem/meteors.ogg
  Resources/Audio/SimpleStation14/Announcements/VoxFem/outbreak7.ogg
  Resources/Audio/SimpleStation14/Announcements/VoxFem/poweroff.ogg
  Resources/Audio/SimpleStation14/Announcements/VoxFem/poweron.ogg
  Resources/Audio/SimpleStation14/Announcements/VoxFem/radiation.ogg
  Resources/Audio/SimpleStation14/Announcements/VoxFem/shuttlecalled.ogg
  Resources/Audio/SimpleStation14/Announcements/VoxFem/shuttledock.ogg
  Resources/Audio/SimpleStation14/Announcements/VoxFem/shuttlerecalled.ogg
  Resources/Audio/SimpleStation14/Announcements/VoxFem/welcome.ogg
Owners: @Pspritechologist, @DEATHB4DEFEAT

fix audio paths
  Resources/Audio/SimpleStation14/Announcements/VoxFem/anomaly.ogg
  Resources/Prototypes/SimpleStation14/Announcers/nyanotrasen.yml
  Resources/Prototypes/SimpleStation14/Announcers/voxfem.yml
Owners: @Pspritechologist, @DEATHB4DEFEAT

announcer name shown in announcement
  Content.Server/SimpleStation14/Announcements/Systems/AnnouncerSystem.Announce.cs
Owners: @Pspritechologist, @DEATHB4DEFEAT

neil
  Resources/Audio/SimpleStation14/Announcements/NEIL/announce.ogg
  Resources/Audio/SimpleStation14/Announcements/NEIL/attention.ogg
  Resources/Audio/SimpleStation14/Announcements/NEIL/bureaucraticerror.ogg
  Resources/Audio/SimpleStation14/Announcements/NEIL/fallback.ogg
  Resources/Audio/SimpleStation14/Announcements/NEIL/gasleak.ogg
  Resources/Audio/SimpleStation14/Announcements/NEIL/kudzu.ogg
  Resources/Audio/SimpleStation14/Announcements/NEIL/meteors.ogg
  Resources/Audio/SimpleStation14/Announcements/NEIL/noosphericstorm.ogg
  Resources/Audio/SimpleStation14/Announcements/NEIL/outbreak7.ogg
  Resources/Audio/SimpleStation14/Announcements/NEIL/poweroff.ogg
  Resources/Audio/SimpleStation14/Announcements/NEIL/poweron.ogg
  Resources/Audio/SimpleStation14/Announcements/NEIL/radiation.ogg
  Resources/Audio/SimpleStation14/Announcements/NEIL/shuttlecalled.ogg
  Resources/Audio/SimpleStation14/Announcements/NEIL/shuttledock.ogg
  Resources/Audio/SimpleStation14/Announcements/NEIL/shuttlerecalled.ogg
  Resources/Audio/SimpleStation14/Announcements/NEIL/ventclog.ogg
  Resources/Audio/SimpleStation14/Announcements/NEIL/welcome.ogg
  Resources/Prototypes/SimpleStation14/Announcers/neil.yml
  Resources/Prototypes/SimpleStation14/Announcers/voxfem.yml
Owners: @Pspritechologist, @DEATHB4DEFEAT

Convert StationEvents
  Content.Server/StationEvents/Events/AnomalySpawn.cs
  Content.Server/StationEvents/Events/BluespaceArtifact.cs
  Content.Server/StationEvents/Events/BreakerFlip.cs
  Content.Server/StationEvents/Events/FalseAlarm.cs
  Content.Server/StationEvents/Events/GasLeak.cs
  Content.Server/StationEvents/Events/RandomSentience.cs
  Content.Server/StationEvents/Events/StationEventSystem.cs
  Resources/Prototypes/SimpleStation14/Announcers/neil.yml
  Resources/Prototypes/SimpleStation14/Announcers/voxfem.yml
Owners: @DEATHB4DEFEAT, @Pspritechologist

Intern Announcer
  Resources/Audio/SimpleStation14/Announcements/Intern/aliens.ogg
  Resources/Audio/SimpleStation14/Announcements/Intern/animes.ogg
  Resources/Audio/SimpleStation14/Announcements/Intern/announce/1.ogg
  Resources/Audio/SimpleStation14/Announcements/Intern/announce/10.ogg
  Resources/Audio/SimpleStation14/Announcements/Intern/announce/11.ogg
  Resources/Audio/SimpleStation14/Announcements/Intern/announce/12.ogg
  Resources/Audio/SimpleStation14/Announcements/Intern/announce/13.ogg
  Resources/Audio/SimpleStation14/Announcements/Intern/announce/14.ogg
  Resources/Audio/SimpleStation14/Announcements/Intern/announce/2.ogg
  Resources/Audio/SimpleStation14/Announcements/Intern/announce/3.ogg
  Resources/Audio/SimpleStation14/Announcements/Intern/announce/4.ogg
  Resources/Audio/SimpleStation14/Announcements/Intern/announce/5.ogg
  Resources/Audio/SimpleStation14/Announcements/Intern/announce/6.ogg
  Resources/Audio/SimpleStation14/Announcements/Intern/announce/7.ogg
  Resources/Audio/SimpleStation14/Announcements/Intern/announce/8.ogg
  Resources/Audio/SimpleStation14/Announcements/Intern/announce/9.ogg
  Resources/Audio/SimpleStation14/Announcements/Intern/anomaly.ogg
  Resources/Audio/SimpleStation14/Announcements/Intern/commandreport/1.ogg
  Resources/Audio/SimpleStation14/Announcements/Intern/commandreport/2.ogg
  Resources/Audio/SimpleStation14/Announcements/Intern/commandreport/3.ogg
  Resources/Audio/SimpleStation14/Announcements/Intern/intercept.ogg
  Resources/Audio/SimpleStation14/Announcements/Intern/ionstorm.ogg
  Resources/Audio/SimpleStation14/Announcements/Intern/meteors.ogg
  Resources/Audio/SimpleStation14/Announcements/Intern/outbreak7.ogg
  Resources/Audio/SimpleStation14/Announcements/Intern/poweroff.ogg
  Resources/Audio/SimpleStation14/Announcements/Intern/poweron.ogg
  Resources/Audio/SimpleStation14/Announcements/Intern/radiation.ogg
  Resources/Audio/SimpleStation14/Announcements/Intern/shuttlecalled.ogg
  Resources/Audio/SimpleStation14/Announcements/Intern/shuttledock.ogg
  Resources/Audio/SimpleStation14/Announcements/Intern/shuttlerecalled.ogg
  Resources/Audio/SimpleStation14/Announcements/Intern/welcome/1.ogg
  Resources/Audio/SimpleStation14/Announcements/Intern/welcome/2.ogg
  Resources/Audio/SimpleStation14/Announcements/Intern/welcome/3.ogg
  Resources/Audio/SimpleStation14/Announcements/Intern/welcome/4.ogg
  Resources/Audio/SimpleStation14/Announcements/Intern/welcome/5.ogg
  Resources/Audio/SimpleStation14/Announcements/Intern/welcome/6.ogg
  Resources/Prototypes/SimpleStation14/Announcers/intern.yml
Owners: @Pspritechologist, @DEATHB4DEFEAT

Roundstart and comms console announcements
  Content.Server/Communications/CommunicationsConsoleSystem.cs
  Content.Server/GameTicking/GameTicker.RoundFlow.cs
  Content.Server/SimpleStation14/Announcements/Prototypes/AnnouncerPrototype.cs
  Content.Server/SimpleStation14/Announcements/Systems/AnnouncerSystem.Announce.cs
  Content.Server/SimpleStation14/Announcements/Systems/AnnouncerSystem.Announcer.cs
  Content.Server/SimpleStation14/Announcements/Systems/AnnouncerSystem.Initialize.cs
  Resources/Locale/en-US/game-ticking/game-ticker.ftl
  Resources/Prototypes/round_announcements.yml
Owners: @DEATHB4DEFEAT, @Pspritechologist

Intern comms console sound
  Resources/Audio/SimpleStation14/Announcements/Intern/announce.ogg
  Resources/Prototypes/SimpleStation14/Announcers/intern.yml
Owners: @Pspritechologist, @DEATHB4DEFEAT

MedBot announcer
  Resources/Audio/SimpleStation14/Announcements/MedBot/aliens.ogg
  Resources/Audio/SimpleStation14/Announcements/MedBot/animes.ogg
  Resources/Audio/SimpleStation14/Announcements/MedBot/announce.ogg
  Resources/Audio/SimpleStation14/Announcements/MedBot/anomaly.ogg
  Resources/Audio/SimpleStation14/Announcements/MedBot/attention.ogg
  Resources/Audio/SimpleStation14/Announcements/MedBot/commandreport.ogg
  Resources/Audio/SimpleStation14/Announcements/MedBot/fallback.ogg
  Resources/Audio/SimpleStation14/Announcements/MedBot/intercept.ogg
  Resources/Audio/SimpleStation14/Announcements/MedBot/ionstorm.ogg
  Resources/Audio/SimpleStation14/Announcements/MedBot/meteors.ogg
  Resources/Audio/SimpleStation14/Announcements/MedBot/newai.ogg
  Resources/Audio/SimpleStation14/Announcements/MedBot/outbreak7.ogg
  Resources/Audio/SimpleStation14/Announcements/MedBot/poweroff.ogg
  Resources/Audio/SimpleStation14/Announcements/MedBot/poweron.ogg
  Resources/Audio/SimpleStation14/Announcements/MedBot/radiation.ogg
  Resources/Audio/SimpleStation14/Announcements/MedBot/shuttlecalled.ogg
  Resources/Audio/SimpleStation14/Announcements/MedBot/shuttledock.ogg
  Resources/Audio/SimpleStation14/Announcements/MedBot/shuttlerecalled.ogg
  Resources/Audio/SimpleStation14/Announcements/MedBot/welcome.ogg
  Resources/Audio/SimpleStation14/Announcements/VoxFem/newai.ogg
  Resources/Prototypes/SimpleStation14/Announcers/medbot.yml
Owners: @Pspritechologist, @DEATHB4DEFEAT

Shuttle announcements
  Content.Server/RoundEnd/RoundEndSystem.cs
  Content.Server/Shuttles/Systems/ShuttleSystem.EmergencyShuttle.cs
Owners: @DEATHB4DEFEAT

Announcer blacklist CCVar
  Content.Server/SimpleStation14/Announcements/Systems/AnnouncerSystem.Announcer.cs
  Content.Server/SimpleStation14/Announcements/Systems/AnnouncerSystem.Initialize.cs
  Content.Shared/SimpleStation14/CCVar/CCVars.cs
Owners: @Pspritechologist, @DEATHB4DEFEAT

ghost typing indicators
  Resources/Prototypes/Entities/Mobs/Player/observer.yml
Owners: @DEATHB4DEFEAT

revert
  Content.Server/StationEvents/Events/AnomalySpawn.cs
  Resources/Audio/Announcements/announce.ogg
  Resources/Audio/Announcements/welcome.ogg
  Resources/Audio/SimpleStation14/Announcements/voxfem/anomalies.ogg
Owners: @DEATHB4DEFEAT, @Pspritechologist

more reagent containers with pickup/drop sounds
  Resources/Prototypes/Entities/Objects/Consumable/Drinks/drinks_cans.yml
  Resources/Prototypes/Entities/Objects/Consumable/Drinks/drinks_cups.yml
  Resources/Prototypes/Entities/Objects/Consumable/Drinks/drinks_special.yml
  Resources/Prototypes/Entities/Objects/Consumable/Drinks/trash_drinks.yml
Owners: @DEATHB4DEFEAT

s
  Resources/Prototypes/SimpleStation14/Voice/speech_emotes.yml
Owners: @Pspritechologist, @DEATHB4DEFEAT

oni are disabled for character creation
  Resources/Server Info/SimpleStation14/Guidebook/Species/NyanoSpecies/Oni.xml
Owners: @DEATHB4DEFEAT

character sprite examine
  Content.Client/SimpleStation14/Examine/SpriteExamine/Systems/SpriteExaminableSystem.cs
  Content.Client/SimpleStation14/Examine/SpriteExamine/UI/SpriteExamineWindow.xaml
  Content.Client/SimpleStation14/Examine/SpriteExamine/UI/SpriteExamineWindow.xaml.cs
  Content.Shared/SimpleStation14/Examine/SpriteExamine/Components/SpriteExaminableComponent.cs
  Resources/Locale/en-US/SimpleStation14/Content/SpriteExamine/spriteExamineUi.ftl
  Resources/Locale/en-US/SimpleStation14/Content/SpriteExamine/spriteExamineVerb.ftl
  Resources/Prototypes/Entities/Mobs/Species/base.yml
Owners: @Pspritechologist, @DEATHB4DEFEAT

Remove piercing from Felinid melee (#1387)
  Resources/Prototypes/Nyanotrasen/Entities/Mobs/Species/felinid.yml
Owners: @DEATHB4DEFEAT

Fix force climbing DoAfter (#14736)
  Content.Server/Climbing/ClimbSystem.cs
Owners: @DEATHB4DEFEAT

Add 200 units of biomass to the medical supply crate. (#1388)
  Resources/Prototypes/Catalog/Fills/Crates/medical.yml
Owners: @DEATHB4DEFEAT

Add discord round announcements (#1393)
  Content.Server/GameTicking/GameTicker.RoundFlow.cs
  Content.Server/Nyanotrasen/GameTicking/RoundEndedEvent.cs
  Content.Server/Nyanotrasen/RoundNotifications/RoundNotificationsSystem.cs
  Content.Shared/CCVar/CCVars.cs
  Content.Shared/GameTicking/RoundRestartedEvent.cs
  Resources/Locale/en-US/round-notifications/notifications.ftl
Owners: @DEATHB4DEFEAT, @Pspritechologist

Fix handcuffs in fight mode (#14716)
  Content.Shared/Cuffs/SharedCuffableSystem.cs
Owners: @DEATHB4DEFEAT

Update notifications.ftl (#1403)
  Resources/Locale/en-US/round-notifications/notifications.ftl
Owners: @Pspritechologist, @DEATHB4DEFEAT

Exchange the sprites (#1408)
  Resources/Textures/Nyanotrasen/Objects/Weapons/Melee/shinai.rsi/inhand-left.png
  Resources/Textures/Nyanotrasen/Objects/Weapons/Melee/shinai.rsi/inhand-right.png
Owners: @DEATHB4DEFEAT

Golemancer renamed to Chaplain (#1406)
  Resources/Locale/en-US/job/job-names.ftl
  Resources/Locale/en-US/paper/stamp-component.ftl
  Resources/Prototypes/Entities/Objects/Misc/paper.yml
  Resources/Server Info/Guidebook/Epi/Altar.xml
  Resources/Server Info/Guidebook/Jobs.xml
Owners: @Pspritechologist, @DEATHB4DEFEAT

Fix for the Discord announcements (#1405)
  Content.Server/Nyanotrasen/RoundNotifications/RoundNotificationsSystem.cs
  Resources/Locale/en-US/round-notifications/notifications.ftl
Owners: @DEATHB4DEFEAT, @Pspritechologist

Update Patrons.yml (#1411)
  Resources/Credits/Patrons.yml
Owners: @DEATHB4DEFEAT

cl generation script
  Tools/changelog/changelog.js
  Tools/changelog/package-lock.json
  Tools/changelog/package.json
Owners: none

Automatic categorization of cameras in warp menu
  Content.Client/SimpleStation14/StationAI/UI/AICameraList.xaml
  Content.Client/SimpleStation14/StationAI/UI/AICameraList.xaml.cs
  Content.Server/SurveillanceCamera/Systems/SurveillanceCameraSystem.cs
  Content.Shared/SimpleStation14/StationAI/Components/AICameraComponent.cs
  Content.Shared/SimpleStation14/StationAI/Systems/AICameraSystem.cs
Owners: @Pspritechologist, @DEATHB4DEFEAT

Fixed my sloth boy, undid QM icon change.
  Resources/Textures/Interface/Misc/job_icons.rsi/QuarterMaster.png
  Resources/Textures/Mobs/Pets/paperwork.rsi/meta.json
  Resources/Textures/Mobs/Pets/paperwork.rsi/paperwork.png
  Resources/Textures/Mobs/Pets/paperwork.rsi/paperwork_dead.png
Owners: @DEATHB4DEFEAT

action test
  .github/workflows/changelog.yml
  Tools/changelog/changelog.js
Owners: @DEATHB4DEFEAT

test 2
  .github/workflows/changelog.yml
Owners: @DEATHB4DEFEAT

test 3
  .github/workflows/changelog.yml
Owners: @DEATHB4DEFEAT

test 4
  .github/workflows/changelog.yml
Owners: @DEATHB4DEFEAT

test 5 okay but what if i do this
  .github/workflows/changelog.yml
Owners: @DEATHB4DEFEAT

test 6
  .github/workflows/changelog.yml
  .github/workflows/changelog/changelog.js
  .github/workflows/changelog/package-lock.json
  .github/workflows/changelog/package.json
Owners: @DEATHB4DEFEAT

test 7
  .github/workflows/changelog.yml
Owners: @DEATHB4DEFEAT

test 8
  .github/workflows/changelog.yml
Owners: @DEATHB4DEFEAT
