Repository Simple-Station/Parkstation, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DEATHB4DEFEAT, @Pspritechologist, @AriaMoradi, @TemporalPrdx

.github/CODEOWNERS:

# Last match in file takes precedence.

/.* @DEATHB4DEFEAT


/Content.*/ @DEATHB4DEFEAT
/Content.*/SimpleStation14/ @Pspritechologist @DEATHB4DEFEAT


/Resources/ @DEATHB4DEFEAT

/Resources/Audio/SimpleStation14 @Pspritechologist @DEATHB4DEFEAT

/Resources/Maps/ @Pspritechologist @DEATHB4DEFEAT

/Resources/Prototypes/Maps @Pspritechologist @DEATHB4DEFEAT
/Resources/Prototypes/SimpleStation14/ @Pspritechologist @DEATHB4DEFEAT

/Resources/Textures/SimpleStation14/ @Pspritechologist @DEATHB4DEFEAT

*.ftl @Pspritechologist @DEATHB4DEFEAT


/Scripts/ @DEATHB4DEFEAT
/Scripts/sh/ @AriaMoradi

/sloth.txt @Pspritechologist @DEATHB4DEFEAT @TemporalPrdx

InstantBind option
  Content.Server/SimpleStation14/Magic/Asclepius/Systems/AsclepiusSystem.Binding.cs
  Content.Shared/SimpleStation14/Magic/Asclepius/Components/AsclepiusStaffComponent.cs
Owners: @Pspritechologist, @DEATHB4DEFEAT

stuff
  Resources/Prototypes/SimpleStation14/Entities/Objects/Magic/Medical/asclepius.yml
Owners: @Pspritechologist, @DEATHB4DEFEAT

fixse
  Content.Server/Administration/Systems/AdminVerbSystem.Smites.cs
  Content.Server/SimpleStation14/Administration/Commands/SlamOfTheNorthStar.cs
  Content.Server/SimpleStation14/Administration/Commands/VoxTest.cs
  Content.Server/SimpleStation14/Antagonists/Objectives/Requirements/Conditions/PickpocketCondition.cs
  Content.Server/SimpleStation14/Antagonists/Objectives/Requirements/Conditions/TwitchyCondition.cs
  Resources/Audio/SimpleStation14/Admin/Commands/slamofthenorthstar.ogg
  Resources/Audio/SimpleStation14/Admin/Commands/voxtest.ogg
  Resources/Prototypes/Roles/Jobs/departments.yml
Owners: @DEATHB4DEFEAT, @Pspritechologist

Alphabetical order on names
  Resources/Prototypes/SimpleStation14/Datasets/Names/shadekin.yml
Owners: @Pspritechologist, @DEATHB4DEFEAT

Edit species whitelist on some markings
  Resources/Prototypes/SimpleStation14/Entities/Mobs/Customization/ears.yml
Owners: @Pspritechologist, @DEATHB4DEFEAT

Add back FootstepSound
  Resources/Prototypes/SimpleStation14/Entities/Mobs/Player/shadekin.yml
Owners: @Pspritechologist, @DEATHB4DEFEAT

uhh shader things
  Resources/Textures/SimpleStation14/Shaders/color_tint.swsl
  Resources/Textures/SimpleStation14/Shaders/ethereal.swsl
Owners: @Pspritechologist, @DEATHB4DEFEAT

Rename 'Shadekin' to 'Shadowkin' part 3
  Content.Client/UserInterface/Systems/Chat/ChatUIController.cs
  Content.Server/Bed/Sleep/SleepingSystem.cs
  Content.Server/SimpleStation14/Species/Shadowkin/Systems/ShadekinDarkSwapSystem.cs
  Content.Server/SimpleStation14/Species/Shadowkin/Systems/ShadekinDarkenSystem.cs
  Content.Server/SimpleStation14/Species/Shadowkin/Systems/ShadekinRestSystem.cs
  Content.Shared/SimpleStation14/Species/Shadowkin/Events/ShadekinEvents.cs
  Content.Shared/SimpleStation14/Species/Shadowkin/Systems/ShadekinRestSystem.cs
  Content.Shared/SimpleStation14/Species/Shadowkin/Systems/ShadekinSystem.Blackeye.Trait.cs
  Content.Shared/SimpleStation14/Species/Shadowkin/Systems/ShadekinSystem.Blackeye.cs
  Content.Shared/SimpleStation14/Species/Shadowkin/Systems/ShadekinSystem.Power.cs
  Content.Shared/SimpleStation14/Species/Shadowkin/Systems/ShadekinSystem.cs
  Resources/Locale/en-US/SimpleStation14/abilities/shadowkin.ftl
  Resources/Locale/en-US/SimpleStation14/species/shadowkin.ftl
  Resources/Locale/en-US/simplestation14/guidebook/guides.ftl
  Resources/Prototypes/SimpleStation14/Alerts/shadowkin.yml
  Resources/Prototypes/SimpleStation14/Datasets/Names/shadowkin.yml
  Resources/Prototypes/SimpleStation14/Entities/Body/Parts/shadowkin.yml
  Resources/Prototypes/SimpleStation14/Entities/Mobs/Customization/ears.yml
  Resources/Prototypes/SimpleStation14/Entities/Mobs/Customization/head.yml
  Resources/Prototypes/SimpleStation14/Entities/Mobs/Customization/tails.yml
  Resources/Prototypes/SimpleStation14/Entities/Mobs/Player/shadowkin.yml
  Resources/Prototypes/SimpleStation14/Guidebook/speciesSpecific.yml
  Resources/Prototypes/SimpleStation14/Magic/shadowkin.yml
  Resources/Prototypes/SimpleStation14/Species/shadowkin.yml
  Resources/Textures/SimpleStation14/Mobs/Customization/ears.rsi/meta.json
  Resources/Textures/SimpleStation14/Mobs/Customization/tails64x32.rsi/meta.json
Owners: @DEATHB4DEFEAT, @Pspritechologist

Rename 'Shadekin' to 'Shadowkin' part 4
  Content.Client/SimpleStation14/Chat/ShadowkinChatUpdateSystem.cs
  Content.Client/SimpleStation14/Species/Shadowkin/Systems/ShadowkinDarkSwappedSystem.cs
  Content.Client/SimpleStation14/Species/Shadowkin/Systems/ShadowkinTintSystem.cs
  Content.Server/SimpleStation14/Species/Shadowkin/Systems/ShadowkinDarkSwapSystem.cs
  Content.Server/SimpleStation14/Species/Shadowkin/Systems/ShadowkinDarkenSystem.cs
  Content.Server/SimpleStation14/Species/Shadowkin/Systems/ShadowkinRestSystem.cs
  Content.Server/SimpleStation14/Species/Shadowkin/Systems/ShadowkinTeleportSystem.cs
  Content.Server/SimpleStation14/Speech/Components/ShadowkinAccentComponent.cs
  Content.Server/SimpleStation14/Speech/EntitySystems/ShadowkinAccentSystem.cs
  Content.Shared/SimpleStation14/Species/Shadowkin/Components/ShadowkinBlackeyeTraitComponent.cs
  Content.Shared/SimpleStation14/Species/Shadowkin/Components/ShadowkinComponent.cs
  Content.Shared/SimpleStation14/Species/Shadowkin/Components/ShadowkinDarkSwapPowerComponent.cs
  Content.Shared/SimpleStation14/Species/Shadowkin/Components/ShadowkinDarkSwappedComponent.cs
  Content.Shared/SimpleStation14/Species/Shadowkin/Components/ShadowkinLightComponent.cs
  Content.Shared/SimpleStation14/Species/Shadowkin/Components/ShadowkinRestPowerComponent.cs
  Content.Shared/SimpleStation14/Species/Shadowkin/Components/ShadowkinTeleportPowerComponent.cs
  Content.Shared/SimpleStation14/Species/Shadowkin/Events/ShadowkinEvents.cs
  Content.Shared/SimpleStation14/Species/Shadowkin/Systems/ShadowkinDarkSwapSystem.cs
  Content.Shared/SimpleStation14/Species/Shadowkin/Systems/ShadowkinRestSystem.cs
  Content.Shared/SimpleStation14/Species/Shadowkin/Systems/ShadowkinSystem.cs
  Content.Shared/SimpleStation14/Species/Shadowkin/Systems/ShadowkinSystemBlackeye.cs
  Content.Shared/SimpleStation14/Species/Shadowkin/Systems/ShadowkinSystemBlackeyeTrait.cs
  Content.Shared/SimpleStation14/Species/Shadowkin/Systems/ShadowkinSystemPower.cs
  Content.Shared/SimpleStation14/Species/Shadowkin/Systems/ShadowkinTeleportSystem.cs
  Resources/Audio/SimpleStation14/Effects/Shadowkin/Powers/base.ogg
  Resources/Audio/SimpleStation14/Effects/Shadowkin/Powers/disappearance-gradual.ogg
  Resources/Audio/SimpleStation14/Effects/Shadowkin/Powers/futuristic-teleport.ogg
  Resources/Audio/SimpleStation14/Effects/Shadowkin/Powers/futuristic-ufo.ogg
  Resources/Audio/SimpleStation14/Effects/Shadowkin/Powers/license.txt
Owners: @Pspritechologist, @DEATHB4DEFEAT

Update PR labeller
  .github/labeler.yml
Owners: @DEATHB4DEFEAT

locale labeler
  .github/labeler.yml
Owners: @DEATHB4DEFEAT

owo accent fixes
  Content.Server/Speech/EntitySystems/OwOAccentSystem.cs
Owners: @DEATHB4DEFEAT

Remove color from empathic power examine
  Resources/Locale/en-US/SimpleStation14/species/shadowkin.ftl
Owners: @Pspritechologist, @DEATHB4DEFEAT

Set empathy chat color to same as telepathy
  Content.Client/UserInterface/Systems/Chat/Controls/ChannelSelectorButton.cs
  Content.Server/SimpleStation14/Chat/SimpleStationChatSystem.cs
Owners: @DEATHB4DEFEAT, @Pspritechologist

duplicate sprite state for glass airlock
  Resources/Textures/Structures/Doors/Airlocks/Glass/glass.rsi/meta.json
Owners: @DEATHB4DEFEAT

Fixed annoying broken file.
  Resources/Locale/en-US/SimpleStation14/guidebook/guides.ftl
Owners: @Pspritechologist, @DEATHB4DEFEAT

Cleaned up audios for you Death mwah mwah
  Resources/Audio/SimpleStation14/Effects/Shadowkin/Powers/base.ogg
  Resources/Audio/SimpleStation14/Effects/Shadowkin/Powers/disappearance-gradual.ogg
  Resources/Audio/SimpleStation14/Effects/Shadowkin/Powers/futuristic-teleport.ogg
  Resources/Audio/SimpleStation14/Effects/Shadowkin/Powers/futuristic-ufo.ogg
Owners: @Pspritechologist, @DEATHB4DEFEAT

Squashed commit of the following:
  Resources/Locale/en-US/SimpleStation14/guidebook/guides.ftl
  Resources/Textures/Structures/Doors/Airlocks/Glass/glass.rsi/meta.json
Owners: @Pspritechologist, @DEATHB4DEFEAT

fix merge conflict labeler
  .github/workflows/conflict-labeler.yml
Owners: @DEATHB4DEFEAT

Reformat species guidebook yml Taken from PR 'Shadowkin'
  Resources/Prototypes/SimpleStation14/Guidebook/species.yml
  Resources/Prototypes/SimpleStation14/Guidebook/speciesCategories.yml
  Resources/Prototypes/SimpleStation14/Guidebook/speciesSpecific.yml
Owners: @Pspritechologist, @DEATHB4DEFEAT

more masking options (pr this upstream)
  Content.Client/Clothing/ClientClothingSystem.cs
  Content.Shared/Clothing/Components/ClothingComponent.cs
  Content.Shared/Humanoid/HumanoidVisualLayers.cs
  Resources/Prototypes/Entities/Mobs/Species/base.yml
  Resources/Prototypes/Entities/Mobs/Species/vox.yml
  Resources/Prototypes/Nyanotrasen/Entities/Mobs/Species/arachne.yml
  Resources/Prototypes/Nyanotrasen/Entities/Mobs/Species/felinid.yml
  Resources/Prototypes/Nyanotrasen/Entities/Mobs/Species/moth.yml
  Resources/Prototypes/Nyanotrasen/Entities/Mobs/Species/oni.yml
  Resources/Prototypes/Nyanotrasen/Species/arachne.yml
  Resources/Prototypes/SimpleStation14/Entities/Mobs/Player/shadowkin.yml
  Resources/Prototypes/SimpleStation14/Species/shadowkin.yml
  Resources/Textures/Mobs/Customization/masking_helpers.rsi/female_none.png
  Resources/Textures/Mobs/Customization/masking_helpers.rsi/full.png
  Resources/Textures/Mobs/Customization/masking_helpers.rsi/male_full.png
  Resources/Textures/Mobs/Customization/masking_helpers.rsi/male_none.png
  Resources/Textures/Mobs/Customization/masking_helpers.rsi/male_top.png
  Resources/Textures/Mobs/Customization/masking_helpers.rsi/meta.json
  Resources/Textures/Mobs/Customization/masking_helpers.rsi/top.png
  Resources/Textures/Mobs/Customization/masking_helpers.rsi/unisex_full.png
  Resources/Textures/Mobs/Customization/masking_helpers.rsi/unisex_none.png
  Resources/Textures/Mobs/Customization/masking_helpers.rsi/unisex_top.png
  Resources/Textures/Nyanotrasen/Mobs/Customization/anytaur_masking_helpers.rsi/full.png
  Resources/Textures/Nyanotrasen/Mobs/Customization/anytaur_masking_helpers.rsi/male_full.png
  Resources/Textures/Nyanotrasen/Mobs/Customization/anytaur_masking_helpers.rsi/male_none.png
  Resources/Textures/Nyanotrasen/Mobs/Customization/anytaur_masking_helpers.rsi/male_top.png
  Resources/Textures/Nyanotrasen/Mobs/Customization/anytaur_masking_helpers.rsi/meta.json
  Resources/Textures/Nyanotrasen/Mobs/Customization/anytaur_masking_helpers.rsi/top.png
  Resources/Textures/Nyanotrasen/Mobs/Customization/anytaur_masking_helpers.rsi/unisex_full.png
  Resources/Textures/Nyanotrasen/Mobs/Customization/anytaur_masking_helpers.rsi/unisex_none.png
  Resources/Textures/Nyanotrasen/Mobs/Customization/anytaur_masking_helpers.rsi/unisex_top.png
Owners: @DEATHB4DEFEAT, @Pspritechologist

Fixed Mapping map pool
  Resources/Prototypes/Maps/Pools/mapping.yml
Owners: @Pspritechologist, @DEATHB4DEFEAT

Change entity IDs
  Resources/Prototypes/SimpleStation14/Entities/Mobs/Player/stationai.yml
  Resources/Prototypes/SimpleStation14/Roles/Jobs/Command/stationai.yml
Owners: @Pspritechologist, @DEATHB4DEFEAT

door remote
  Content.Server/Remotes/DoorRemoteComponent.cs
  Resources/Prototypes/Entities/Objects/Devices/door_remote.yml
  Resources/Prototypes/SimpleStation14/Entities/Objects/Devices/door_remote.yml
Owners: @DEATHB4DEFEAT, @Pspritechologist

innate items
  Content.Server/Nyanotrasen/Borgs/InnateItemComponent.cs
  Content.Server/Nyanotrasen/Borgs/InnateItemSystem.cs
  Resources/Prototypes/SimpleStation14/Entities/Mobs/Player/stationai.yml
Owners: @DEATHB4DEFEAT, @Pspritechologist

Fix innate items (add action priority)
  Content.Server/Nyanotrasen/Borgs/InnateItemComponent.cs
  Content.Server/Nyanotrasen/Borgs/InnateItemSystem.cs
  Resources/Prototypes/SimpleStation14/Entities/Mobs/Player/stationai.yml
Owners: @DEATHB4DEFEAT, @Pspritechologist

commit
  Resources/Prototypes/SimpleStation14/Entities/Mobs/Player/stationai.yml
Owners: @Pspritechologist, @DEATHB4DEFEAT

what
  Resources/Maps/Salvage/atlas_atmos.yml
  Resources/Maps/Salvage/atlas_cargo.yml
  Resources/Maps/Salvage/atlas_conferenceroom.yml
  Resources/Maps/Salvage/atlas_dorms.yml
  Resources/Maps/Salvage/atlas_epi.yml
  Resources/Maps/Salvage/atlas_jailcells.yml
  Resources/Maps/Salvage/atlas_medical.yml
  Resources/Maps/Salvage/atlas_perma.yml
  Resources/Maps/Salvage/atlas_salvage.yml
  Resources/Maps/Salvage/atlas_service.yml
  Resources/Maps/Salvage/medium-service-chunk-1.yml
Owners: @Pspritechologist, @DEATHB4DEFEAT

what
  Resources/Maps/Shuttles/NTES_Centipede_grid.yml
Owners: @Pspritechologist, @DEATHB4DEFEAT

fix camera list
  Content.Server/SimpleStation14/StationAI/Systems/StationAISystem.cs
  Content.Shared/SimpleStation14/StationAI/Components/AICameraComponent.cs
  Resources/Prototypes/SimpleStation14/Entities/Mobs/Player/stationai.yml
Owners: @Pspritechologist, @DEATHB4DEFEAT

Functional warp
  Content.Client/SimpleStation14/StationAI/UI/AICameraList.xaml
  Content.Client/SimpleStation14/StationAI/UI/AICameraList.xaml.cs
  Content.Client/SimpleStation14/StationAI/UI/AICameraListBoundUserInterface.cs
  Content.Server/SimpleStation14/StationAI/Systems/AICameraWarp.cs
  Content.Shared/SimpleStation14/StationAI/Events/StationAIEvents.cs
Owners: @Pspritechologist, @DEATHB4DEFEAT

AIEyeSystem
  Content.Client/SimpleStation14/StationAI/UI/AICameraList.xaml
  Content.Server/SimpleStation14/StationAI/Systems/AIEyeSystem.cs
  Content.Shared/SimpleStation14/StationAI/Components/AIEyeComponent.cs
  Content.Shared/SimpleStation14/StationAI/Components/AIEyePowerComponent.cs
  Resources/Prototypes/SimpleStation14/Entities/Mobs/Player/stationai.yml
Owners: @Pspritechologist, @DEATHB4DEFEAT

Sort warp menu alphabetically
  Content.Client/SimpleStation14/StationAI/UI/AICameraList.xaml.cs
Owners: @Pspritechologist, @DEATHB4DEFEAT

Add laws from core to eye
  Content.Server/SimpleStation14/StationAI/Systems/AIEyeSystem.cs
  Content.Shared/SimpleStation14/StationAI/Systems/StationAISystem.cs
Owners: @Pspritechologist, @DEATHB4DEFEAT

locale
  Content.Client/SimpleStation14/StationAI/UI/AICameraList.xaml
  Content.Client/SimpleStation14/StationAI/UI/AICameraList.xaml.cs
  Resources/Locale/en-US/SimpleStation14/StationAI/UI.ftl
Owners: @Pspritechologist, @DEATHB4DEFEAT

Only AIEye can use warp menu
  Content.IntegrationTests/Tests/PrototypeSaveTest.cs
  Content.Shared/SimpleStation14/StationAI/Components/AIEyePowerComponent.cs
  Resources/Prototypes/SimpleStation14/Entities/Mobs/Player/stationai.yml
Owners: @DEATHB4DEFEAT, @Pspritechologist

action icons
  Resources/Prototypes/SimpleStation14/Entities/Mobs/Player/stationai.yml
  Resources/Textures/SimpleStation14/Mobs/Silicon/ai.rsi/ai.png
  Resources/Textures/SimpleStation14/Mobs/Silicon/ai.rsi/ai_dead.png
  Resources/Textures/SimpleStation14/Mobs/Silicon/ai.rsi/aieye.png
  Resources/Textures/SimpleStation14/Mobs/Silicon/ai.rsi/icon-camera.png
  Resources/Textures/SimpleStation14/Mobs/Silicon/ai.rsi/icon-comms.png
  Resources/Textures/SimpleStation14/Mobs/Silicon/ai.rsi/meta.json
  Resources/Textures/SimpleStation14/Mobs/Silicon/aieye.rsi/meta.json
Owners: @Pspritechologist, @DEATHB4DEFEAT

recolor preset door remotes
  Resources/Prototypes/SimpleStation14/Entities/Objects/Devices/door_remote.yml
Owners: @Pspritechologist, @DEATHB4DEFEAT

Reorganize fluent files
  Resources/Locale/en-US/SimpleStation14/Prototypes/Entities/Mobs/Customization/ears.ftl
  Resources/Locale/en-US/SimpleStation14/Prototypes/Entities/Mobs/Customization/human_hair.ftl
  Resources/Locale/en-US/SimpleStation14/Prototypes/Entities/Mobs/Customization/reptilian.ftl
  Resources/Locale/en-US/SimpleStation14/Prototypes/Entities/Mobs/Customization/snouts.ftl
  Resources/Locale/en-US/SimpleStation14/Prototypes/Entities/Mobs/Customization/tails.ftl
  Resources/Locale/en-US/SimpleStation14/Prototypes/Entities/Mobs/Customization/wings.ftl
  Resources/Locale/en-US/SimpleStation14/Prototypes/Guidebook/alert_procedure.ftl
  Resources/Locale/en-US/SimpleStation14/Prototypes/Guidebook/server.ftl
  Resources/Locale/en-US/SimpleStation14/Prototypes/Guidebook/species.ftl
  Resources/Locale/en-US/SimpleStation14/Prototypes/Objectives/minorObjectives.ftl
  Resources/Locale/en-US/SimpleStation14/Prototypes/Research/technologies.ftl
  Resources/Locale/en-US/SimpleStation14/Uncategorized/Slippery/dropOnSlip.ftl
Owners: @Pspritechologist, @DEATHB4DEFEAT

move UI fluent file
  Resources/Locale/en-US/SimpleStation14/UI/StationAI/UI.ftl
Owners: @Pspritechologist, @DEATHB4DEFEAT
