Repository Simple-Station/Parkstation, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DEATHB4DEFEAT, @Pspritechologist, @AriaMoradi, @TemporalPrdx

github changelog webhook (steal from upstreams)
  .github/workflows/publish.yml
  Tools/actions_changelogs_since_last_run.py
Owners: @DEATHB4DEFEAT

fix peaceful gamemode title
  Resources/Prototypes/SimpleStation14/game_presets.yml
Owners: @Pspritechologist, @DEATHB4DEFEAT

fsgde
  Content.Shared/Chat/SharedChatSystem.cs
Owners: @DEATHB4DEFEAT

fix empty changelog with an author being committed
  .github/workflows/changelog.yml
  Tools/changelog/changelog.js
Owners: @DEATHB4DEFEAT

character sprite examine
  Content.Client/SimpleStation14/Examine/SpriteExamine/Systems/SpriteExaminableSystem.cs
  Content.Client/SimpleStation14/Examine/SpriteExamine/UI/SpriteExamineWindow.xaml
  Content.Client/SimpleStation14/Examine/SpriteExamine/UI/SpriteExamineWindow.xaml.cs
  Content.Shared/SimpleStation14/Examine/SpriteExamine/Components/SpriteExaminableComponent.cs
  Resources/Locale/en-US/SimpleStation14/Content/SpriteExamine/spriteExamineUi.ftl
  Resources/Locale/en-US/SimpleStation14/Content/SpriteExamine/spriteExamineVerb.ftl
  Resources/Prototypes/Entities/Mobs/Species/base.yml
Owners: @Pspritechologist, @DEATHB4DEFEAT

shell
  Scripts/bat/runQuickClient.bat
  Scripts/bat/runQuickServer.bat
  Scripts/sh/buildAllDebug.sh
  Scripts/sh/buildAllRelease.sh
  Scripts/sh/runBuildAll.sh
  Scripts/sh/runBuildClient.sh
  Scripts/sh/runBuildServer.sh
  Scripts/sh/runQuickAll.sh
  Scripts/sh/runQuickClient.sh
  Scripts/sh/runQuickServer.sh
Owners: @DEATHB4DEFEAT, @AriaMoradi

bat
  Scripts/bat/!README.txt
  Scripts/bat/buildAllDebug.bat
  Scripts/bat/buildAllRelease.bat
  Scripts/bat/configDev.bat
  Scripts/bat/configDev.toml
  Scripts/bat/configMap.bat
  Scripts/bat/configMap.toml
  Scripts/bat/configServer.bat
  Scripts/bat/configServer.toml
  Scripts/bat/readme.txt
  Scripts/bat/run3server.bat
  Scripts/bat/run4client.bat
  Scripts/bat/runBuildAll.bat
  Scripts/bat/runBuildClient.bat
  Scripts/bat/runBuildServer.bat
  Scripts/bat/runQuickAll.bat
  Scripts/bat/runQuickClient.bat
  Scripts/bat/runQuickServer.bat
Owners: @DEATHB4DEFEAT

config
  Scripts/bat/configDev.bat
  Scripts/bat/configMap.bat
  Scripts/bat/configServer.bat
  Scripts/config/configDev.toml
  Scripts/config/configMap.toml
  Scripts/config/configServer.toml
  Scripts/sh/!README.txt
  Scripts/sh/configDev.sh
  Scripts/sh/configMap.sh
  Scripts/sh/configServer.sh
  Scripts/sh/readme.txt
  Scripts/sh/run2configDev.sh
  Scripts/sh/runconfigdev.toml
  Scripts/sh/runconfigmap.toml
  Scripts/sh/runconfigserver.toml
Owners: @DEATHB4DEFEAT, @AriaMoradi

Tweaked READMEs
  Scripts/bat/!README.txt
  Scripts/sh/!README.txt
Owners: @DEATHB4DEFEAT, @AriaMoradi

Updated Readme, fixed configs
  Scripts/bat/!README.txt
  Scripts/config/configDev.toml
  Scripts/config/configMap.toml
  Scripts/config/configServer.toml
  Scripts/sh/!README.txt
Owners: @DEATHB4DEFEAT, @AriaMoradi

Undid remove ClothingGrantTag
  Content.Server/Chemistry/EntitySystems/ChemistrySystem.Injector.cs
  Content.Server/Chemistry/EntitySystems/ChemistrySystem.cs
  Content.Server/Chemistry/EntitySystems/ChemistrySystemHypospray.cs
  Content.Shared/SimpleStation14/Clothing/Components/ClothingGrantTagComponent.cs
  Content.Shared/SimpleStation14/Clothing/Systems/ClothingGrantingSystem.cs
  Resources/Prototypes/Entities/Clothing/OuterClothing/base_clothingouter.yml
  Resources/Prototypes/Nyanotrasen/Entities/Mobs/Species/felinid.yml
  Resources/Prototypes/tags.yml
Owners: @DEATHB4DEFEAT, @Pspritechologist

Locale changes
  Resources/Locale/en-US/SimpleStation14/Content/SpriteExamine/spriteExamineUi.ftl
  Resources/Locale/en-US/SimpleStation14/Content/SpriteExamine/spriteExamineVerb.ftl
Owners: @Pspritechologist, @DEATHB4DEFEAT

6x scale instead of 8x
  Content.Client/SimpleStation14/Examine/SpriteExamine/UI/SpriteExamineWindow.xaml.cs
Owners: @Pspritechologist, @DEATHB4DEFEAT

Add support for alert message override
  Content.Server/SimpleStation14/Announcements/Prototypes/AnnouncerPrototype.cs
  Content.Server/SimpleStation14/Announcements/Systems/AnnouncerSystem.Announce.cs
Owners: @Pspritechologist, @DEATHB4DEFEAT

dumb
  Content.Server/SimpleStation14/Commands/AdminvisCommand.cs
Owners: @Pspritechologist, @DEATHB4DEFEAT

clean up and reformat code a ton
  Content.Client/SimpleStation14/Species/Shadowkin/Systems/ShadowkinPowerSystem.DarkSwapped.cs
  Content.Client/SimpleStation14/Species/Shadowkin/Systems/ShadowkinSystem.Blackeye.cs
  Content.Client/SimpleStation14/Species/Shadowkin/Systems/ShadowkinSystem.Tint.cs
  Content.Server/SimpleStation14/Species/Shadowkin/Systems/ShadowkinPowerSystem.DarkSwap.cs
  Content.Server/SimpleStation14/Species/Shadowkin/Systems/ShadowkinPowerSystem.Darken.cs
  Content.Server/SimpleStation14/Species/Shadowkin/Systems/ShadowkinPowerSystem.Rest.cs
  Content.Server/SimpleStation14/Species/Shadowkin/Systems/ShadowkinPowerSystem.Teleport.cs
  Content.Server/SimpleStation14/Species/Shadowkin/Systems/ShadowkinSystem.Blackeye.Trait.cs
  Content.Server/SimpleStation14/Species/Shadowkin/Systems/ShadowkinSystem.Blackeye.cs
  Content.Server/SimpleStation14/Species/Shadowkin/Systems/ShadowkinSystem.cs
  Content.Shared/SimpleStation14/Species/Shadowkin/Components/ShadowkinComponent.cs
  Content.Shared/SimpleStation14/Species/Shadowkin/Events/ShadowkinEvents.cs
  Content.Shared/SimpleStation14/Species/Shadowkin/Systems/ShadowkinPowerSystem.DarkSwap.cs
  Content.Shared/SimpleStation14/Species/Shadowkin/Systems/ShadowkinPowerSystem.Rest.cs
  Content.Shared/SimpleStation14/Species/Shadowkin/Systems/ShadowkinPowerSystem.Teleport.cs
  Content.Shared/SimpleStation14/Species/Shadowkin/Systems/ShadowkinPowerSystem.cs
  Content.Shared/SimpleStation14/Species/Shadowkin/Systems/ShadowkinSystem.cs
Owners: @Pspritechologist, @DEATHB4DEFEAT

cleaning
  Content.Server/Shuttles/Systems/ShuttleSystem.Impact.cs
  Content.Server/SimpleStation14/Cargo/Systems/CargoSystem.ShuttleCost.cs
  Content.Server/SimpleStation14/GameTicking/Rules/ShuttleRuleSystem.cs
Owners: @DEATHB4DEFEAT, @Pspritechologist

improvements
  .github/workflows/changelog.yml
  Tools/changelog/changelog.js
  Tools/changelog/package.json
Owners: @DEATHB4DEFEAT

Linux Scripts Unfucking
  Scripts/sh/buildAllDebug.sh
  Scripts/sh/buildAllRelease.sh
  Scripts/sh/configDev.sh
  Scripts/sh/configMap.sh
  Scripts/sh/configServer.sh
  Scripts/sh/runBuildAll.sh
  Scripts/sh/runBuildClient.sh
  Scripts/sh/runBuildServer.sh
  Scripts/sh/runQuickAll.sh
  Scripts/sh/runQuickClient.sh
  Scripts/sh/runQuickServer.sh
Owners: @AriaMoradi

Character sprite examine window (#57)
  Content.Client/SimpleStation14/Examine/SpriteExamine/Systems/SpriteExaminableSystem.cs
  Content.Client/SimpleStation14/Examine/SpriteExamine/UI/SpriteExamineWindow.xaml
  Content.Client/SimpleStation14/Examine/SpriteExamine/UI/SpriteExamineWindow.xaml.cs
  Content.Shared/SimpleStation14/Examine/SpriteExamine/Components/SpriteExaminableComponent.cs
  Resources/Locale/en-US/SimpleStation14/Content/SpriteExamine/spriteExamineUi.ftl
  Resources/Locale/en-US/SimpleStation14/Content/SpriteExamine/spriteExamineVerb.ftl
  Resources/Prototypes/Entities/Mobs/Species/base.yml
Owners: @Pspritechologist, @DEATHB4DEFEAT

funny changelogs!!
  .github/workflows/changelog.yml
Owners: @DEATHB4DEFEAT

changelogs
  Resources/Changelog/SimpleStationChangelog.yml
Owners: @DEATHB4DEFEAT

man
  Tools/changelog/changelog.js
Owners: none

whaaaaaa
  Tools/changelog/changelog.js
Owners: none

Automatic Changelog Update (#65)
  Resources/Changelog/SimpleStationChangelog.yml
Owners: @DEATHB4DEFEAT

t
  Content.Client/SimpleStation14/Examine/SpriteExamine/Systems/SpriteExaminableSystem.cs
Owners: @Pspritechologist, @DEATHB4DEFEAT

Fix instant client crash
  Content.Client/UserInterface/Systems/Chat/ChatUIController.cs
  Content.Shared/Chat/SharedChatSystem.cs
Owners: @DEATHB4DEFEAT

trait cost
  Resources/Prototypes/SimpleStation14/Traits/disabilities.yml
  Resources/Prototypes/Traits/disabilities.yml
Owners: @Pspritechologist, @DEATHB4DEFEAT

Trait system improvements
  Content.Server/Cloning/CloningSystem.cs
  Content.Server/Traits/TraitSystem.cs
Owners: @DEATHB4DEFEAT

Cloning events
  Content.Server/Cloning/CloningSystem.cs
  Content.Server/SimpleStation14/Traits/Events/CloningEvents.cs
Owners: @DEATHB4DEFEAT, @Pspritechologist

Move AddComponentSpecial and AddTraits to cloning events
  Content.Server/Cloning/CloningSystem.cs
  Content.Server/SimpleStation14/Jobs/AddComponentSpecial.cs
  Content.Server/Traits/TraitSystem.cs
Owners: @DEATHB4DEFEAT, @Pspritechologist

Move publish action CL webhook So it isn't stopped by a failed CDN upload.
  .github/workflows/publish.yml
Owners: @DEATHB4DEFEAT

Revert "Move publish action CL webhook"
  .github/workflows/publish.yml
Owners: @DEATHB4DEFEAT

Sabre sheath insert/remove sound
  Resources/Prototypes/Entities/Clothing/Belt/belts.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/sword.yml
Owners: @DEATHB4DEFEAT

the voice of god
  Content.Server/Chat/Systems/ChatSystem.cs
  Content.Server/SimpleStation14/Speech/Components/VoiceOfGodComponent.cs
  Content.Server/SimpleStation14/Speech/EntitySystems/VoiceOfGodSystem.cs
  Resources/Audio/SimpleStation14/Voice/voice_of_god.ogg
  Resources/Locale/en-US/chat/managers/chat-manager.ftl
Owners: @DEATHB4DEFEAT, @Pspritechologist

Apply suggestions from code review
  Resources/Prototypes/SimpleStation14/Traits/disabilities.yml
  Resources/Prototypes/Traits/disabilities.yml
Owners: @Pspritechologist, @DEATHB4DEFEAT

more paracusia sounds from TG
  Resources/Audio/SimpleStation14/Effects/Hallucinations/behind_you1.ogg
  Resources/Audio/SimpleStation14/Effects/Hallucinations/behind_you2.ogg
  Resources/Audio/SimpleStation14/Effects/Hallucinations/far_noise.ogg
  Resources/Audio/SimpleStation14/Effects/Hallucinations/growl1.ogg
  Resources/Audio/SimpleStation14/Effects/Hallucinations/growl2.ogg
  Resources/Audio/SimpleStation14/Effects/Hallucinations/growl3.ogg
  Resources/Audio/SimpleStation14/Effects/Hallucinations/i_see_you1.ogg
  Resources/Audio/SimpleStation14/Effects/Hallucinations/i_see_you2.ogg
  Resources/Audio/SimpleStation14/Effects/Hallucinations/im_here1.ogg
  Resources/Audio/SimpleStation14/Effects/Hallucinations/im_here2.ogg
  Resources/Audio/SimpleStation14/Effects/Hallucinations/look_up1.ogg
  Resources/Audio/SimpleStation14/Effects/Hallucinations/look_up2.ogg
  Resources/Audio/SimpleStation14/Effects/Hallucinations/over_here1.ogg
  Resources/Audio/SimpleStation14/Effects/Hallucinations/over_here2.ogg
  Resources/Audio/SimpleStation14/Effects/Hallucinations/over_here3.ogg
  Resources/Audio/SimpleStation14/Effects/Hallucinations/radio_static.ogg
  Resources/Audio/SimpleStation14/Effects/Hallucinations/turn_around1.ogg
  Resources/Audio/SimpleStation14/Effects/Hallucinations/turn_around2.ogg
  Resources/Audio/SimpleStation14/Effects/Hallucinations/veryfar_noise.ogg
  Resources/Audio/SimpleStation14/Effects/Hallucinations/wail.ogg
  Resources/Prototypes/SoundCollections/traits.yml
Owners: @Pspritechologist, @DEATHB4DEFEAT

hmmm I can hear people exclaim 16 tiles away
  Content.Server/Chat/Systems/ChatSystem.cs
  Resources/Locale/en-US/chat/managers/chat-manager.ftl
Owners: @DEATHB4DEFEAT, @Pspritechologist

listen to the whispers
  Content.Server/Chat/Systems/ChatSystem.cs
Owners: @DEATHB4DEFEAT

Readded the old changelogs because :'(
  Resources/Changelog/SimpleStationChangelog.yml
Owners: @DEATHB4DEFEAT

.github/CODEOWNERS:

# Last match in file takes precedence.

/.* @DEATHB4DEFEAT


/Content.*/ @DEATHB4DEFEAT
/Content.*/SimpleStation14/ @Pspritechologist @DEATHB4DEFEAT


/Resources/ @DEATHB4DEFEAT

/Resources/Audio/SimpleStation14 @Pspritechologist @DEATHB4DEFEAT

/Resources/Maps/ @Pspritechologist @DEATHB4DEFEAT

/Resources/Prototypes/Maps @Pspritechologist @DEATHB4DEFEAT
/Resources/Prototypes/SimpleStation14/ @Pspritechologist @DEATHB4DEFEAT

/Resources/Textures/SimpleStation14/ @Pspritechologist @DEATHB4DEFEAT

*.ftl @Pspritechologist @DEATHB4DEFEAT


/Scripts/ @DEATHB4DEFEAT
/Scripts/sh/ @AriaMoradi

/sloth.txt @Pspritechologist @DEATHB4DEFEAT @TemporalPrdx
