Repository Simple-Station/Parkstation, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DEATHB4DEFEAT, @Pspritechologist, @AriaMoradi, @TemporalPrdx

.github/CODEOWNERS:

# Last match in file takes precedence.

/.* @DEATHB4DEFEAT


/Content.*/ @DEATHB4DEFEAT
/Content.*/SimpleStation14/ @Pspritechologist @DEATHB4DEFEAT


/Resources/ @DEATHB4DEFEAT

/Resources/Audio/SimpleStation14 @Pspritechologist @DEATHB4DEFEAT

/Resources/Maps/ @Pspritechologist @DEATHB4DEFEAT

/Resources/Prototypes/Maps @Pspritechologist @DEATHB4DEFEAT
/Resources/Prototypes/SimpleStation14/ @Pspritechologist @DEATHB4DEFEAT

/Resources/Textures/SimpleStation14/ @Pspritechologist @DEATHB4DEFEAT

*.ftl @Pspritechologist @DEATHB4DEFEAT


/Scripts/ @DEATHB4DEFEAT
/Scripts/sh/ @AriaMoradi

/sloth.txt @Pspritechologist @DEATHB4DEFEAT @TemporalPrdx

move dropOnSlip fluent file
  Resources/Locale/en-US/SimpleStation14/Content/Slippery/dropOnSlip.ftl
Owners: @Pspritechologist, @DEATHB4DEFEAT

AIEye visiblity layer
  Content.Server/SimpleStation14/Eye/EyeStartup.cs
  Content.Server/SimpleStation14/StationAI/Systems/AIEyeSystem.cs
  Content.Server/Visible/VisibilityFlags.cs
  Resources/Prototypes/SimpleStation14/Entities/Mobs/Player/stationai.yml
Owners: @Pspritechologist, @DEATHB4DEFEAT

New painting, and fixed location of Markers
  Resources/Prototypes/Entities/Markers/Spawners/Random/paintings.yml
  Resources/Prototypes/SimpleStation14/Entities/Markers/Spawners/ghost_roles.yml
  Resources/Prototypes/SimpleStation14/Entities/Markers/Spawners/jobs.yml
  Resources/Prototypes/SimpleStation14/Entities/Markers/Spawners/mobs.yml
  Resources/Prototypes/SimpleStation14/Entities/Structures/Wallmounts/Signs/paintings.yml
  Resources/Textures/SimpleStation14/Structures/Wallmounts/paintings.rsi/meta.json
  Resources/Textures/SimpleStation14/Structures/Wallmounts/paintings.rsi/painting3.png
Owners: @DEATHB4DEFEAT, @Pspritechologist

Fixed minor_objectives.ftl name
  Resources/Locale/en-US/SimpleStation14/Prototypes/Objectives/minor_objectives.ftl
Owners: @Pspritechologist, @DEATHB4DEFEAT

fix rsi validator
  Resources/Textures/SimpleStation14/Mobs/Customization/tails64x32.rsi/meta.json
  Resources/Textures/SimpleStation14/Mobs/Species/Shadowkin/shadowkin.rsi/meta.json
  Resources/Textures/SimpleStation14/Mobs/Species/Shadowkin/shadowkin_icons.rsi/meta.json
  Resources/Textures/SimpleStation14/Mobs/Species/Shadowkin/shadowkin_power.rsi/meta.json
Owners: @Pspritechologist, @DEATHB4DEFEAT

unexpected double quote in glimmerwisp attribution
  Resources/Audio/Nyanotrasen/Mobs/GlimmerWisp/attributions.yml
Owners: @DEATHB4DEFEAT

fix CSS radio
  Resources/Prototypes/SimpleStation14/Entities/Clothing/Ears/headsets_alt.yml
  Resources/Prototypes/SimpleStation14/Entities/Objects/Devices/encryption_keys.yml
Owners: @Pspritechologist, @DEATHB4DEFEAT

Fix missing prototype for fake wizard hat
  Resources/Prototypes/Catalog/VendingMachines/Inventories/magivend.yml
  Resources/Prototypes/Corvax/Entities/Clothing/Ears/headsets.yml
  Resources/Prototypes/Entities/Clothing/Head/hats.yml
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Specific/Mail/mail.yml
  Resources/Prototypes/Nyanotrasen/Markers/Spawners/Random/hats.yml
Owners: @DEATHB4DEFEAT

fix wizard hat again
  Resources/Prototypes/Entities/Clothing/Head/hats.yml
Owners: @DEATHB4DEFEAT

remove nightvision shader
  Resources/Prototypes/SimpleStation14/Shaders/shaders.yml
  Resources/Textures/SimpleStation14/Shaders/nightvision.swsl
Owners: @Pspritechologist, @DEATHB4DEFEAT

humanoidvisuallayers
  Content.Client/Clothing/ClientClothingSystem.cs
  Content.Shared/Humanoid/HumanoidVisualLayers.cs
  Resources/Prototypes/Entities/Mobs/Species/base.yml
  Resources/Prototypes/Nyanotrasen/Entities/Mobs/Species/arachne.yml
  Resources/Prototypes/Nyanotrasen/Entities/Mobs/Species/felinid.yml
  Resources/Prototypes/Nyanotrasen/Entities/Mobs/Species/moth.yml
  Resources/Prototypes/Nyanotrasen/Entities/Mobs/Species/oni.yml
  Resources/Prototypes/SimpleStation14/Entities/Mobs/Player/shadowkin.yml
Owners: @DEATHB4DEFEAT, @Pspritechologist

blackeye actually blackeyes
  Content.Client/SimpleStation14/Species/Shadowkin/Systems/ShadowkinSystem.Blackeye.cs
  Content.Shared/SimpleStation14/Species/Shadowkin/Events/ShadowkinEvents.cs
  Content.Shared/SimpleStation14/Species/Shadowkin/Systems/ShadowkinSystemBlackeye.cs
  Content.Shared/SimpleStation14/Species/Shadowkin/Systems/ShadowkinSystemBlackeyeTrait.cs
Owners: @Pspritechologist, @DEATHB4DEFEAT

move blackeye system to server
  Content.Server/SimpleStation14/Species/Shadowkin/Systems/ShadowkinSystem.Blackeye.Trait.cs
  Content.Server/SimpleStation14/Species/Shadowkin/Systems/ShadowkinSystem.Blackeye.cs
Owners: @Pspritechologist, @DEATHB4DEFEAT

move some things off shared
  Content.Server/SimpleStation14/Species/Shadowkin/Systems/ShadowkinDarkenSystem.cs
  Content.Server/SimpleStation14/Species/Shadowkin/Systems/ShadowkinSystem.cs
  Content.Shared/SimpleStation14/Species/Shadowkin/Components/ShadowkinComponent.cs
  Content.Shared/SimpleStation14/Species/Shadowkin/Systems/ShadowkinSystem.cs
Owners: @Pspritechologist, @DEATHB4DEFEAT

improve blackeye system, fix trait
  Content.Client/SimpleStation14/Species/Shadowkin/Systems/ShadowkinSystem.Blackeye.cs
  Content.Client/SimpleStation14/Species/Shadowkin/Systems/ShadowkinTintSystem.cs
  Content.Server/SimpleStation14/Species/Shadowkin/Systems/ShadowkinSystem.Blackeye.Trait.cs
  Content.Server/SimpleStation14/Species/Shadowkin/Systems/ShadowkinSystem.Blackeye.cs
  Content.Shared/SimpleStation14/Species/Shadowkin/Events/ShadowkinEvents.cs
  Content.Shared/SimpleStation14/Species/Shadowkin/Systems/ShadowkinSystem.Blackeye.cs
Owners: @Pspritechologist, @DEATHB4DEFEAT

rename files
  Content.Client/SimpleStation14/Species/Shadowkin/Systems/ShadowkinPowerSystem.DarkSwapped.cs
  Content.Client/SimpleStation14/Species/Shadowkin/Systems/ShadowkinSystem.Tint.cs
  Content.Server/SimpleStation14/Species/Shadowkin/Systems/ShadowkinPowerSystem.DarkSwap.cs
  Content.Server/SimpleStation14/Species/Shadowkin/Systems/ShadowkinPowerSystem.Darken.cs
  Content.Server/SimpleStation14/Species/Shadowkin/Systems/ShadowkinPowerSystem.Rest.cs
  Content.Server/SimpleStation14/Species/Shadowkin/Systems/ShadowkinPowerSystem.Teleport.cs
  Content.Shared/SimpleStation14/Species/Shadowkin/Systems/ShadowkinPowerSystem.DarkSwap.cs
  Content.Shared/SimpleStation14/Species/Shadowkin/Systems/ShadowkinPowerSystem.Rest.cs
  Content.Shared/SimpleStation14/Species/Shadowkin/Systems/ShadowkinPowerSystem.Teleport.cs
  Content.Shared/SimpleStation14/Species/Shadowkin/Systems/ShadowkinPowerSystem.cs
Owners: @Pspritechologist, @DEATHB4DEFEAT

"Peaceful" gamemode for voting
  Resources/Locale/en-US/SimpleStation14/Prototypes/GamePresets/preset-peaceful.ftl
  Resources/Prototypes/SimpleStation14/game_presets.yml
  Resources/Prototypes/game_presets.yml
Owners: @Pspritechologist, @DEATHB4DEFEAT

Rename and move antag locs
  Content.Server/SimpleStation14/Antagonists/Rules/MinorRuleSystem.cs
  Content.Server/SimpleStation14/Antagonists/Rules/WizardRuleSystem.cs
  Resources/Locale/en-US/SimpleStation14/Prototypes/GamePresets/preset-minor.ftl
  Resources/Locale/en-US/SimpleStation14/Prototypes/GamePresets/preset-wizard.ftl
Owners: @Pspritechologist, @DEATHB4DEFEAT

fix peaceful loc..
  Resources/Locale/en-US/SimpleStation14/Prototypes/GamePresets/preset-peaceful.ftl
Owners: @Pspritechologist, @DEATHB4DEFEAT

ccvars
  Content.Shared/SimpleStation14/CCVar/CCVars.cs
Owners: @Pspritechologist, @DEATHB4DEFEAT

costsystem
  Content.Server/Cargo/Systems/CargoSystem.Shuttle.cs
  Content.Server/SimpleStation14/Cargo/Systems/CargoSystem.ShuttleCost.cs
Owners: @DEATHB4DEFEAT, @Pspritechologist

show debt in console
  Content.Client/Cargo/BUI/CargoOrderConsoleBoundUserInterface.cs
  Content.Client/Cargo/UI/CargoConsoleMenu.xaml
  Content.Client/Cargo/UI/CargoConsoleMenu.xaml.cs
  Content.Server/Cargo/Components/StationBankAccountComponent.cs
  Content.Server/Cargo/Systems/CargoSystem.Orders.cs
  Content.Shared/Cargo/BUI/CargoConsoleInterfaceState.cs
Owners: @DEATHB4DEFEAT

locale
  Resources/Locale/en-US/SimpleStation14/Content/Cargo/ShuttleCost.ftl
Owners: @Pspritechologist, @DEATHB4DEFEAT

Show needed money to FTL
  Content.Server/Cargo/Systems/CargoSystem.Shuttle.cs
  Content.Server/SimpleStation14/Cargo/Systems/CargoSystem.ShuttleCost.cs
  Resources/Locale/en-US/SimpleStation14/Content/Cargo/ShuttleCost.ftl
Owners: @DEATHB4DEFEAT, @Pspritechologist

:boom:
  Content.Server/Shuttles/Systems/ShuttleSystem.Impact.cs
  Content.Server/SimpleStation14/Cargo/Systems/CargoSystem.ShuttleCost.cs
Owners: @DEATHB4DEFEAT, @Pspritechologist

Moved some files, added Punpun to ParkStation, made a spawner for him, made a note for Punpun to leave behind, and cleaned up some code.
  Content.Server/SimpleStation14/Punpun/PunpunComponent.cs
  Content.Server/SimpleStation14/Punpun/PunpunSystem.cs
  Resources/Maps/parkstation.yml
  Resources/Prototypes/SimpleStation14/Entities/Markers/Spawners/mobs.yml
  Resources/Prototypes/SimpleStation14/Entities/Objects/Misc/paper.yml
Owners: @Pspritechologist, @DEATHB4DEFEAT

Remove some unneeded filler
  Content.Server/SimpleStation14/Punpun/PunpunComponent.cs
Owners: @Pspritechologist, @DEATHB4DEFEAT

Squashed commit of the following:
  Resources/Maps/parkstation.yml
Owners: @Pspritechologist, @DEATHB4DEFEAT

Fixed map conflict
  Resources/Maps/parkstation.yml
  Resources/Prototypes/SimpleStation14/Entities/Objects/Misc/paper.yml
Owners: @Pspritechologist, @DEATHB4DEFEAT

Update Content.Server/SimpleStation14/Punpun/PunpunSystem.cs
  Content.Server/SimpleStation14/Punpun/PunpunSystem.cs
Owners: @Pspritechologist, @DEATHB4DEFEAT

Update meta.json
  Resources/Textures/SimpleStation14/Mobs/Pets/punpun.rsi/meta.json
Owners: @Pspritechologist, @DEATHB4DEFEAT

Update Content.Server/SimpleStation14/Punpun/PunpunSystem.cs
  Content.Server/SimpleStation14/Punpun/PunpunSystem.cs
Owners: @Pspritechologist, @DEATHB4DEFEAT

Update Content.Server/SimpleStation14/Punpun/PunpunSystem.cs
  Content.Server/SimpleStation14/Punpun/PunpunSystem.cs
Owners: @Pspritechologist, @DEATHB4DEFEAT

Update Content.Server/SimpleStation14/Punpun/PunpunSystem.cs
  Content.Server/SimpleStation14/Punpun/PunpunSystem.cs
Owners: @Pspritechologist, @DEATHB4DEFEAT

Update Content.Server/SimpleStation14/Punpun/PunpunSystem.cs
  Content.Server/SimpleStation14/Punpun/PunpunSystem.cs
Owners: @Pspritechologist, @DEATHB4DEFEAT

Update Content.Server/SimpleStation14/Punpun/PunpunSystem.cs
  Content.Server/SimpleStation14/Punpun/PunpunSystem.cs
Owners: @Pspritechologist, @DEATHB4DEFEAT

Update Content.Server/SimpleStation14/Punpun/PunpunSystem.cs
  Content.Server/SimpleStation14/Punpun/PunpunSystem.cs
Owners: @Pspritechologist, @DEATHB4DEFEAT

Update Content.Server/SimpleStation14/Punpun/PunpunSystem.cs
  Content.Server/SimpleStation14/Punpun/PunpunSystem.cs
Owners: @Pspritechologist, @DEATHB4DEFEAT

Update Content.Server/SimpleStation14/Punpun/PunpunSystem.cs
  Content.Server/SimpleStation14/Punpun/PunpunSystem.cs
Owners: @Pspritechologist, @DEATHB4DEFEAT

Adds Punpun (#48)
  Content.Server/SimpleStation14/Punpun/PunpunComponent.cs
  Content.Server/SimpleStation14/Punpun/PunpunSystem.cs
  Resources/Maps/parkstation.yml
  Resources/Prototypes/SimpleStation14/Entities/Markers/Spawners/mobs.yml
  Resources/Prototypes/SimpleStation14/Entities/Mobs/NPCs/pets.yml
  Resources/Prototypes/SimpleStation14/Entities/Objects/Misc/paper.yml
  Resources/Textures/SimpleStation14/Mobs/Pets/punpun.rsi/dead.png
  Resources/Textures/SimpleStation14/Mobs/Pets/punpun.rsi/meta.json
  Resources/Textures/SimpleStation14/Mobs/Pets/punpun.rsi/monkey.png
Owners: @Pspritechologist, @DEATHB4DEFEAT
