Repository Simple-Station/Parkstation, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DEATHB4DEFEAT, @Pspritechologist, @AriaMoradi, @TemporalPrdx

.github/CODEOWNERS:

# Last match in file takes precedence.

/.* @DEATHB4DEFEAT


/Content.*/ @DEATHB4DEFEAT
/Content.*/SimpleStation14/ @Pspritechologist @DEATHB4DEFEAT


/Resources/ @DEATHB4DEFEAT

/Resources/Audio/SimpleStation14 @Pspritechologist @DEATHB4DEFEAT

/Resources/Maps/ @Pspritechologist @DEATHB4DEFEAT

/Resources/Prototypes/Maps @Pspritechologist @DEATHB4DEFEAT
/Resources/Prototypes/SimpleStation14/ @Pspritechologist @DEATHB4DEFEAT

/Resources/Textures/SimpleStation14/ @Pspritechologist @DEATHB4DEFEAT

*.ftl @Pspritechologist @DEATHB4DEFEAT


/Scripts/ @DEATHB4DEFEAT
/Scripts/sh/ @AriaMoradi

/sloth.txt @Pspritechologist @DEATHB4DEFEAT @TemporalPrdx

Hide lore in a txt file
  Resources/Server Info/SimpleStation14/Guidebook/Species/SimpleStationSpecies/Shadowkin.Lore.txt
  Resources/Server Info/SimpleStation14/Guidebook/Species/SimpleStationSpecies/Shadowkin.xml
Owners: @DEATHB4DEFEAT

what
  Resources/Textures/SimpleStation14/Objects/Weapons/Guns/Pistols/k12mini.rsi/unused midback.png
  Resources/Textures/SimpleStation14/Objects/Weapons/Guns/Pistols/k12mini.rsi/unused pullback.png
Owners: @Pspritechologist, @DEATHB4DEFEAT

what
  Resources/Textures/SimpleStation14/Objects/Weapons/Guns/Pistols/k12mini.rsi/midback.png
  Resources/Textures/SimpleStation14/Objects/Weapons/Guns/Pistols/k12mini.rsi/pullback.png
Owners: @Pspritechologist, @DEATHB4DEFEAT

organize action bar
  Resources/Prototypes/Nyanotrasen/Actions/types.yml
  Resources/Prototypes/SimpleStation14/Actions/types.yml
  Resources/Prototypes/SimpleStation14/Entities/Mobs/Player/stationai.yml
Owners: @DEATHB4DEFEAT, @Pspritechologist

unshaded aieye
  Resources/Prototypes/SimpleStation14/Entities/Mobs/Player/stationai.yml
Owners: @Pspritechologist, @DEATHB4DEFEAT

"explosive" nuke toy
  Resources/Prototypes/Entities/Objects/Fun/toys.yml
Owners: @DEATHB4DEFEAT

fix toys
  Resources/Prototypes/Entities/Objects/Fun/toys.yml
Owners: @DEATHB4DEFEAT

katana and captain sabre hitsound
  Resources/Audio/SimpleStation14/Weapons/Melee/rapierhit.ogg
  Resources/Prototypes/Entities/Objects/Weapons/Melee/sword.yml
Owners: @Pspritechologist, @DEATHB4DEFEAT

banjo hitsound
  Resources/Audio/SimpleStation14/Weapons/Melee/banjohit.ogg
  Resources/Prototypes/Entities/Objects/Fun/Instruments/instruments_string.yml
Owners: @Pspritechologist, @DEATHB4DEFEAT

ammo box pickup/drop
  Resources/Audio/SimpleStation14/Items/Handling/ammobox_drop.ogg
  Resources/Audio/SimpleStation14/Items/Handling/ammobox_pickup.ogg
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Boxes/base_ammo.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Boxes/caseless_rifle.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Boxes/light_rifle.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Boxes/magnum.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Boxes/pistol.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Boxes/rifle.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Boxes/toy.yml
Owners: @Pspritechologist, @DEATHB4DEFEAT

box pickup/drop
  Resources/Audio/SimpleStation14/Items/Handling/cardboardbox_drop.ogg
  Resources/Prototypes/Catalog/Fills/Boxes/general.yml
Owners: @Pspritechologist, @DEATHB4DEFEAT

book pickup/drop
  Resources/Audio/SimpleStation14/Items/Handling/book_drop.ogg
  Resources/Audio/SimpleStation14/Items/Handling/book_pickup.ogg
  Resources/Audio/SimpleStation14/Items/Handling/cardboardbox_pickup.ogg
  Resources/Prototypes/Entities/Objects/Magic/books.yml
  Resources/Prototypes/Entities/Objects/Misc/books.yml
  Resources/Prototypes/Entities/Objects/Specific/Chapel/bibles.yml
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Books/hyperlinks.yml
Owners: @Pspritechologist, @DEATHB4DEFEAT

emit sound on land
  Resources/Prototypes/Catalog/Fills/Boxes/general.yml
  Resources/Prototypes/Entities/Objects/Magic/books.yml
  Resources/Prototypes/Entities/Objects/Misc/books.yml
  Resources/Prototypes/Entities/Objects/Specific/Chapel/bibles.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Boxes/base_ammo.yml
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Books/hyperlinks.yml
Owners: @DEATHB4DEFEAT

jumpsuitskirt pickup/drop
  Resources/Audio/SimpleStation14/Items/Handling/cloth_drop.ogg
  Resources/Audio/SimpleStation14/Items/Handling/cloth_pickup.ogg
  Resources/Prototypes/Entities/Clothing/Uniforms/base_clothinguniforms.yml
Owners: @Pspritechologist, @DEATHB4DEFEAT

crowbar pickup/drop
  Resources/Audio/SimpleStation14/Items/Handling/crowbar_drop.ogg
  Resources/Audio/SimpleStation14/Items/Handling/crowbar_pickup.ogg
  Resources/Prototypes/Entities/Objects/Tools/tools.yml
Owners: @Pspritechologist, @DEATHB4DEFEAT

screwdriver pickup/drop
  Resources/Audio/SimpleStation14/Items/Handling/screwdriver_drop.ogg
  Resources/Audio/SimpleStation14/Items/Handling/screwdriver_pickup.ogg
  Resources/Prototypes/Entities/Objects/Tools/tools.yml
Owners: @Pspritechologist, @DEATHB4DEFEAT

multitool pickup/drop
  Resources/Audio/SimpleStation14/Items/Handling/multitool_drop.ogg
  Resources/Audio/SimpleStation14/Items/Handling/multitool_pickup.ogg
  Resources/Prototypes/Entities/Objects/Tools/tools.yml
Owners: @Pspritechologist, @DEATHB4DEFEAT

welder pickup/drop
  Resources/Audio/SimpleStation14/Items/Handling/welder_drop.ogg
  Resources/Audio/SimpleStation14/Items/Handling/welder_pickup.ogg
  Resources/Prototypes/Entities/Objects/Tools/welders.yml
Owners: @Pspritechologist, @DEATHB4DEFEAT

wrench pickup/drop
  Resources/Audio/SimpleStation14/Items/Handling/wrench_drop.ogg
  Resources/Audio/SimpleStation14/Items/Handling/wrench_pickup.ogg
  Resources/Prototypes/Entities/Objects/Tools/tools.yml
Owners: @Pspritechologist, @DEATHB4DEFEAT

wirecutter pickup/drop
  Resources/Audio/SimpleStation14/Items/Handling/wirecutter_drop.ogg
  Resources/Audio/SimpleStation14/Items/Handling/wirecutter_pickup.ogg
  Resources/Prototypes/Entities/Objects/Tools/tools.yml
Owners: @Pspritechologist, @DEATHB4DEFEAT

belt pickup/drop
  Resources/Audio/SimpleStation14/Items/Handling/toolbelt_drop.ogg
  Resources/Audio/SimpleStation14/Items/Handling/toolbelt_pickup.ogg
  Resources/Prototypes/Entities/Clothing/Belt/base_clothingbelt.yml
Owners: @Pspritechologist, @DEATHB4DEFEAT

toolbox pickup/drop
  Resources/Audio/SimpleStation14/Items/Handling/toolbox_drop.ogg
  Resources/Audio/SimpleStation14/Items/Handling/toolbox_pickup.ogg
  Resources/Prototypes/Entities/Objects/Tools/toolbox.yml
Owners: @Pspritechologist, @DEATHB4DEFEAT

katana and captain sabre pickup/drop
  Resources/Audio/SimpleStation14/Items/Handling/sword_sheath.ogg
  Resources/Audio/SimpleStation14/Items/Handling/sword_unsheath.ogg
  Resources/Prototypes/Entities/Objects/Weapons/Melee/sword.yml
Owners: @Pspritechologist, @DEATHB4DEFEAT

paper pickup/drop
  Resources/Audio/SimpleStation14/Items/Handling/paper_drop.ogg
  Resources/Audio/SimpleStation14/Items/Handling/paper_pickup.ogg
  Resources/Prototypes/Entities/Objects/Misc/paper.yml
Owners: @Pspritechologist, @DEATHB4DEFEAT

drinkglass pickup/drop
  Resources/Audio/SimpleStation14/Items/Handling/drinkglass_drop.ogg
  Resources/Audio/SimpleStation14/Items/Handling/drinkglass_pickup.ogg
  Resources/Prototypes/Entities/Objects/Consumable/Drinks/drinks.yml
Owners: @Pspritechologist, @DEATHB4DEFEAT

disk pickup/drop
  Resources/Audio/SimpleStation14/Items/Handling/disk_drop.ogg
  Resources/Audio/SimpleStation14/Items/Handling/disk_pickup.ogg
  Resources/Prototypes/Entities/Objects/Misc/dat_fukken_disk.yml
  Resources/Prototypes/Entities/Objects/Specific/Research/disk.yml
Owners: @Pspritechologist, @DEATHB4DEFEAT

matchbox pickup/drop
  Resources/Audio/SimpleStation14/Items/Handling/matchbox_drop.ogg
  Resources/Audio/SimpleStation14/Items/Handling/matchbox_pickup.ogg
  Resources/Prototypes/Entities/Objects/Tools/matches.yml
Owners: @Pspritechologist, @DEATHB4DEFEAT

machine part pickup/drop
  Resources/Audio/SimpleStation14/Items/Handling/component_drop.ogg
  Resources/Audio/SimpleStation14/Items/Handling/component_pickup.ogg
  Resources/Prototypes/Entities/Objects/Misc/machine_parts.yml
Owners: @Pspritechologist, @DEATHB4DEFEAT

more slime squish sounds
  Resources/Audio/SimpleStation14/Voice/Slime/slime_crackleslap.ogg
  Resources/Audio/SimpleStation14/Voice/Slime/slime_schlorp.ogg
  Resources/Prototypes/SimpleStation14/SoundCollections/Emotes/slime.yml
  Resources/Prototypes/SimpleStation14/Voice/speech_emote_sounds.yml
  Resources/Prototypes/SimpleStation14/Voice/speech_emotes.yml
Owners: @Pspritechologist, @DEATHB4DEFEAT

optional brief command phasein sound
  Content.Server/SimpleStation14/Administration/Commands/BriefCommand.cs
  Resources/Audio/SimpleStation14/Effects/phasein.ogg
Owners: @Pspritechologist, @DEATHB4DEFEAT

new cryostasis sound
  Content.Server/Roles/Cryostasis.cs
  Resources/Audio/SimpleStation14/Effects/podwoosh.ogg
Owners: @DEATHB4DEFEAT, @Pspritechologist

belt equip sound
  Resources/Audio/SimpleStation14/Items/Handling/toolbelt_equip.ogg
  Resources/Prototypes/Entities/Clothing/Belt/base_clothingbelt.yml
Owners: @Pspritechologist, @DEATHB4DEFEAT

move equip sound
  Resources/Audio/SimpleStation14/Items/Equip/toolbelt_equip.ogg
  Resources/Prototypes/Entities/Clothing/Belt/base_clothingbelt.yml
Owners: @Pspritechologist, @DEATHB4DEFEAT

announcement sound
  Resources/Audio/Announcements/announce.ogg
Owners: @DEATHB4DEFEAT

welcome sound
  Resources/Audio/Announcements/welcome.ogg
Owners: @DEATHB4DEFEAT

anomaly alert
  Content.Server/StationEvents/Events/AnomalySpawn.cs
  Resources/Audio/SimpleStation14/Announcements/voxfem/anomalies.ogg
Owners: @DEATHB4DEFEAT, @Pspritechologist

move (copy) and add alert sounds
  Resources/Audio/SimpleStation14/Announcements/nyanotrasen/announce.ogg
  Resources/Audio/SimpleStation14/Announcements/nyanotrasen/attention.ogg
  Resources/Audio/SimpleStation14/Announcements/nyanotrasen/bureaucratic_error.ogg
  Resources/Audio/SimpleStation14/Announcements/nyanotrasen/fallback.ogg
  Resources/Audio/SimpleStation14/Announcements/nyanotrasen/gas_leak.ogg
  Resources/Audio/SimpleStation14/Announcements/nyanotrasen/kudzu.ogg
  Resources/Audio/SimpleStation14/Announcements/nyanotrasen/meteors.ogg
  Resources/Audio/SimpleStation14/Announcements/nyanotrasen/noosphericstorm.ogg
  Resources/Audio/SimpleStation14/Announcements/nyanotrasen/outbreak7.ogg
  Resources/Audio/SimpleStation14/Announcements/nyanotrasen/poweroff.ogg
  Resources/Audio/SimpleStation14/Announcements/nyanotrasen/poweron.ogg
  Resources/Audio/SimpleStation14/Announcements/nyanotrasen/radiation.ogg
  Resources/Audio/SimpleStation14/Announcements/nyanotrasen/shuttlecalled.ogg
  Resources/Audio/SimpleStation14/Announcements/nyanotrasen/shuttledock.ogg
  Resources/Audio/SimpleStation14/Announcements/nyanotrasen/shuttlerecalled.ogg
  Resources/Audio/SimpleStation14/Announcements/nyanotrasen/ventclog.ogg
  Resources/Audio/SimpleStation14/Announcements/nyanotrasen/welcome.ogg
  Resources/Audio/SimpleStation14/Announcements/voxfem/aliens.ogg
  Resources/Audio/SimpleStation14/Announcements/voxfem/animes.ogg
  Resources/Audio/SimpleStation14/Announcements/voxfem/attention.ogg
  Resources/Audio/SimpleStation14/Announcements/voxfem/commandreport.ogg
  Resources/Audio/SimpleStation14/Announcements/voxfem/fallback.ogg
  Resources/Audio/SimpleStation14/Announcements/voxfem/intercept.ogg
  Resources/Audio/SimpleStation14/Announcements/voxfem/ionstorm.ogg
  Resources/Audio/SimpleStation14/Announcements/voxfem/meteors.ogg
  Resources/Audio/SimpleStation14/Announcements/voxfem/outbreak5.ogg
  Resources/Audio/SimpleStation14/Announcements/voxfem/outbreak7.ogg
  Resources/Audio/SimpleStation14/Announcements/voxfem/poweroff.ogg
  Resources/Audio/SimpleStation14/Announcements/voxfem/poweron.ogg
  Resources/Audio/SimpleStation14/Announcements/voxfem/radiation.ogg
  Resources/Audio/SimpleStation14/Announcements/voxfem/shuttlecalled.ogg
  Resources/Audio/SimpleStation14/Announcements/voxfem/shuttledock.ogg
  Resources/Audio/SimpleStation14/Announcements/voxfem/shuttlerecalled.ogg
  Resources/Audio/SimpleStation14/Announcements/voxfem/welcome.ogg
Owners: @Pspritechologist, @DEATHB4DEFEAT

announcer prototypes
  Content.Server/SimpleStation14/Announcements/Prototypes/AnnouncerPrototype.cs
  Resources/Audio/SimpleStation14/Announcements/nyanotrasen/bureaucraticerror.ogg
  Resources/Audio/SimpleStation14/Announcements/nyanotrasen/gasleak.ogg
  Resources/Audio/SimpleStation14/Announcements/voxfem/animes.ogg
  Resources/Audio/SimpleStation14/Announcements/voxfem/announce.ogg
  Resources/Audio/SimpleStation14/Announcements/voxfem/intercept.ogg
  Resources/Audio/SimpleStation14/Announcements/voxfem/outbreak5.ogg
  Resources/Prototypes/SimpleStation14/Announcers/nyanotrasen.yml
  Resources/Prototypes/SimpleStation14/Announcers/voxfem.yml
Owners: @Pspritechologist, @DEATHB4DEFEAT

rename paths
  Resources/Prototypes/SimpleStation14/Announcers/nyanotrasen.yml
  Resources/Prototypes/SimpleStation14/Announcers/voxfem.yml
Owners: @Pspritechologist, @DEATHB4DEFEAT

AnnouncerSystem
  Content.Client/Entry/EntryPoint.cs
  Content.Server/SimpleStation14/Announcements/Systems/AnnouncerSystem.Announce.cs
  Content.Server/SimpleStation14/Announcements/Systems/AnnouncerSystem.Announcer.cs
  Content.Server/SimpleStation14/Announcements/Systems/AnnouncerSystem.Initialize.cs
  Content.Shared/SimpleStation14/CCVar/CCVars.cs
Owners: @DEATHB4DEFEAT, @Pspritechologist
