Repository Simple-Station/Parkstation, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DEATHB4DEFEAT, @Pspritechologist, @AriaMoradi, @TemporalPrdx

Reagent Dispenser
  Content.Client/Chemistry/UI/ReagentDispenserBoundUserInterface.cs
  Content.Client/Chemistry/UI/ReagentDispenserWindow.xaml
  Content.Client/Chemistry/UI/ReagentDispenserWindow.xaml.cs
  Content.Shared/Chemistry/SharedReagentDispenser.cs
  Resources/Locale/en-US/chemistry/components/reagent-dispenser-component.ftl
Owners: @DEATHB4DEFEAT, @Pspritechologist

Chemmaster
  Content.Client/Chemistry/UI/ChemMasterWindow.xaml
Owners: @DEATHB4DEFEAT

Grinder
  Content.Client/Kitchen/UI/GrinderMenu.xaml
Owners: @DEATHB4DEFEAT

Health Analyzer
  Content.Client/Chemistry/UI/ReagentDispenserWindow.xaml
  Content.Client/HealthAnalyzer/UI/HealthAnalyzerBoundUserInterface.cs
  Content.Client/HealthAnalyzer/UI/HealthAnalyzerWindow.xaml
  Content.Client/HealthAnalyzer/UI/HealthAnalyzerWindow.xaml.cs
Owners: @DEATHB4DEFEAT

cloning i guess
  Content.Client/CloningConsole/UI/CloningConsoleWindow.xaml
Owners: @DEATHB4DEFEAT

Lathes
  Content.Client/Lathe/UI/LatheMenu.xaml
  Content.Client/Lathe/UI/LatheQueueMenu.xaml
  Content.Client/Lathe/UI/RecipeControl.xaml
Owners: @DEATHB4DEFEAT

APC
  Content.Client/Power/APC/UI/ApcMenu.xaml
  Resources/Locale/en-US/ui/power-apc.ftl
Owners: @DEATHB4DEFEAT, @Pspritechologist

Power monitor
  Content.Client/Power/PowerMonitoringWindow.xaml
  Content.Client/Power/PowerMonitoringWindow.xaml.cs
Owners: @DEATHB4DEFEAT

Solar Control
  Content.Client/Power/SolarControlWindow.xaml
  Resources/Locale/en-US/ui/solar-control.ftl
Owners: @DEATHB4DEFEAT, @Pspritechologist

Port selector (multitool)
  Content.Client/MachineLinking/UI/SignalPortSelectorMenu.xaml
Owners: @DEATHB4DEFEAT

MIDI
  Content.Client/Instruments/UI/InstrumentMenu.xaml
Owners: @DEATHB4DEFEAT

Vending Machine
  Content.Client/VendingMachines/UI/VendingMachineMenu.xaml
  Content.Client/VendingMachines/UI/VendingMachineMenu.xaml.cs
Owners: @DEATHB4DEFEAT

Nuclear Fission Explosive
  Content.Client/Nuke/NukeMenu.xaml
Owners: @DEATHB4DEFEAT

Station Records
  Content.Client/StationRecords/GeneralStationRecordConsoleWindow.xaml
  Content.Client/StationRecords/GeneralStationRecordConsoleWindow.xaml.cs
Owners: @DEATHB4DEFEAT

Crew Monitor
  Content.Client/Medical/CrewMonitoring/CrewMonitoringWindow.xaml
  Content.Client/Medical/CrewMonitoring/CrewMonitoringWindow.xaml.cs
  Resources/Locale/en-US/medical/components/crew-monitoring-component.ftl
Owners: @DEATHB4DEFEAT, @Pspritechologist

Communications Console (oh god it wasn't xaml)
  Content.Client/Communications/UI/CommunicationsConsoleBoundUserInterface.cs
  Content.Client/Communications/UI/CommunicationsConsoleMenu.xaml
  Content.Client/Communications/UI/CommunicationsConsoleMenu.xaml.cs
Owners: @DEATHB4DEFEAT

ID Card Console
  Content.Client/Access/UI/IdCardConsoleWindow.xaml
  Resources/Locale/en-US/access/components/id-card-console-component.ftl
Owners: @DEATHB4DEFEAT, @Pspritechologist

R&D Console
  Content.Client/Research/UI/ResearchConsoleMenu.xaml
Owners: @DEATHB4DEFEAT

fix adminbus brief
  Content.Client/Administration/UI/Tabs/AdminTab/AdminTab.xaml
Owners: @DEATHB4DEFEAT

Improve mute trait - Fix popup showing to everyone - Muted alert disappears on component shutdown
  Content.Server/SimpleStation14/Traits/Systems/MuteTraitSystem.cs
Owners: @Pspritechologist

changelogs
  Resources/Changelog/SimpleStationChangelog.yml
Owners: @DEATHB4DEFEAT

.github/CODEOWNERS:

# Last match in file takes precedence.

/.* @DEATHB4DEFEAT


/Content.*/ @DEATHB4DEFEAT
/Content.*/SimpleStation14/ @Pspritechologist


/Resources/ @DEATHB4DEFEAT

/Resources/Audio/SimpleStation14 @Pspritechologist

/Resources/Maps/ @Pspritechologist

/Resources/Prototypes/Maps @Pspritechologist
/Resources/Prototypes/SimpleStation14/ @Pspritechologist

/Resources/Textures/SimpleStation14/ @Pspritechologist

*.ftl @DEATHB4DEFEAT @Pspritechologist


/Scripts/ @DEATHB4DEFEAT
/Scripts/sh/ @AriaMoradi

/sloth.txt @Pspritechologist @TemporalPrdx
