Repository Simple-Station/Parkstation, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DEATHB4DEFEAT, @Pspritechologist, @AriaMoradi, @TemporalPrdx

.github/CODEOWNERS:

# Last match in file takes precedence.

/.* @DEATHB4DEFEAT


/Content.*/ @DEATHB4DEFEAT
/Content.*/SimpleStation14/ @Pspritechologist @DEATHB4DEFEAT


/Resources/ @DEATHB4DEFEAT

/Resources/Audio/SimpleStation14 @Pspritechologist @DEATHB4DEFEAT

/Resources/Maps/ @Pspritechologist @DEATHB4DEFEAT

/Resources/Prototypes/Maps @Pspritechologist @DEATHB4DEFEAT
/Resources/Prototypes/SimpleStation14/ @Pspritechologist @DEATHB4DEFEAT

/Resources/Textures/SimpleStation14/ @Pspritechologist @DEATHB4DEFEAT

*.ftl @Pspritechologist @DEATHB4DEFEAT


/Scripts/ @DEATHB4DEFEAT
/Scripts/sh/ @AriaMoradi

/sloth.txt @Pspritechologist @DEATHB4DEFEAT @TemporalPrdx

Redid several tweaks to ParkStation
  Resources/Maps/parkstation.yml
Owners: @Pspritechologist, @DEATHB4DEFEAT

starstation
  Resources/Maps/starstation.yml
  Resources/Prototypes/Maps/starstation.yml
Owners: @Pspritechologist, @DEATHB4DEFEAT

DB, UI, test altNames for doctor
  Content.Client/Preferences/UI/HumanoidProfileEditor.xaml.cs
  Content.Server.Database/Migrations/Postgres/20230405234311_AlternateJobs.Designer.cs
  Content.Server.Database/Migrations/Postgres/20230405234311_AlternateJobs.cs
  Content.Server.Database/Migrations/Sqlite/20230405234304_AlternateJobs.Designer.cs
  Content.Server.Database/Migrations/Sqlite/20230405234304_AlternateJobs.cs
  Content.Server.Database/Migrations/Sqlite/SqliteServerDbContextModelSnapshot.cs
  Content.Server.Database/Model.cs
  Content.Server/Database/ServerDbBase.cs
  Content.Shared/Preferences/HumanoidCharacterProfile.cs
  Content.Shared/Roles/JobPrototype.cs
  Resources/Prototypes/Roles/Jobs/Medical/medical_doctor.yml
Owners: @DEATHB4DEFEAT

pushing an error :)
  Content.Client/Lobby/UI/LobbyCharacterPreviewPanel.cs
  Content.Client/Preferences/UI/CharacterSetupGui.xaml.cs
  Content.Client/Preferences/UI/HumanoidProfileEditor.xaml.cs
  Content.Server.Database/Model.cs
  Content.Server/Database/ServerDbBase.cs
  Content.Server/Preferences/Managers/ServerPreferencesManager.cs
  Content.Server/Station/Systems/StationSpawningSystem.cs
  Resources/Prototypes/Roles/Jobs/Medical/medical_doctor.yml
Owners: @DEATHB4DEFEAT

Increase Reinforcement TC count from 12 to 13
  Resources/Prototypes/Catalog/uplink_catalog.yml
Owners: @DEATHB4DEFEAT

Update changelog.yml
  .github/workflows/changelog.yml
Owners: @DEATHB4DEFEAT

Update changelog.yml
  .github/workflows/changelog.yml
Owners: @DEATHB4DEFEAT

Add node scanner to loadout
  Resources/Prototypes/SimpleStation14/Loadouts/jobs.yml
Owners: @Pspritechologist, @DEATHB4DEFEAT

Update SimpleStationChangelog.yml
  Resources/Changelog/SimpleStationChangelog.yml
Owners: @DEATHB4DEFEAT

Update changelog.yml
  .github/workflows/changelog.yml
Owners: @DEATHB4DEFEAT

Update changelog.yml
  .github/workflows/changelog.yml
Owners: @DEATHB4DEFEAT

Update changelog.yml
  .github/workflows/changelog.yml
Owners: @DEATHB4DEFEAT

Update changelog.yml
  .github/workflows/changelog.yml
Owners: @DEATHB4DEFEAT

Automatic Changelog Update (#81)
  Resources/Changelog/SimpleStationChangelog.yml
Owners: @DEATHB4DEFEAT

Add node scanner to loadout (#76)
  Resources/Prototypes/SimpleStation14/Loadouts/jobs.yml
Owners: @Pspritechologist, @DEATHB4DEFEAT

Automatic Changelog Update (#76)
  Resources/Changelog/SimpleStationChangelog.yml
Owners: @DEATHB4DEFEAT

heads can use all their dept loadout items
  Resources/Prototypes/Roles/Jobs/Engineering/chief_engineer.yml
  Resources/Prototypes/SimpleStation14/Loadouts/jobs.yml
Owners: @DEATHB4DEFEAT, @Pspritechologist

Update PR and Issue templates
  .github/ISSUE_TEMPLATE/issue_report.md
  .github/PULL_REQUEST_TEMPLATE.md
Owners: @DEATHB4DEFEAT

trait localization
  Resources/Locale/en-US/SimpleStation14/Prototypes/Traits/abilities.ftl
  Resources/Locale/en-US/SimpleStation14/Prototypes/Traits/disabilities.ftl
  Resources/Locale/en-US/SimpleStation14/Prototypes/Traits/equal.ftl
  Resources/Prototypes/SimpleStation14/Traits/abilities.yml
  Resources/Prototypes/SimpleStation14/Traits/disabilities.yml
  Resources/Prototypes/SimpleStation14/Traits/equal.yml
Owners: @Pspritechologist, @DEATHB4DEFEAT

trait blacklisted jobs specified via JobPrototype
  Content.Client/Traits/TraitSystem.cs
  Content.Server/Traits/TraitSystem.cs
  Content.Shared/Roles/JobPrototype.cs
  Content.Shared/Traits/TraitAddedEvent.cs
  Content.Shared/Traits/TraitPrototype.cs
  Resources/Locale/en-US/SimpleStation14/Content/Traits/traits.ftl
  Resources/Prototypes/Nyanotrasen/Roles/Jobs/Engineering/cyborg.yml
  Resources/Prototypes/Nyanotrasen/Roles/Jobs/Medical/medical_cyborg.yml
  Resources/Prototypes/SimpleStation14/Roles/Jobs/Command/stationai.yml
Owners: @DEATHB4DEFEAT, @Pspritechologist

Unfucked the changelog IDs
  Resources/Changelog/SimpleStationChangelog.yml
Owners: @DEATHB4DEFEAT

Walter has been revived.
  Resources/Changelog/SimpleStationChangelog.yml
  Resources/Prototypes/Entities/Mobs/NPCs/pets.yml
  Resources/Prototypes/Nyanotrasen/Entities/Mobs/NPCs/dogs.yml
Owners: @DEATHB4DEFEAT

Update PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
Owners: @DEATHB4DEFEAT

Walter has been revived. (#84)
  Resources/Changelog/SimpleStationChangelog.yml
  Resources/Prototypes/Entities/Mobs/NPCs/pets.yml
  Resources/Prototypes/Nyanotrasen/Entities/Mobs/NPCs/dogs.yml
Owners: @DEATHB4DEFEAT

controlled substances and items
  Resources/Server Info/SimpleStation14/Guidebook/AlertProcedure/StandardOperatingProcedure.xml
Owners: @DEATHB4DEFEAT

Update StandardOperatingProcedure.xml
  Resources/Server Info/SimpleStation14/Guidebook/AlertProcedure/StandardOperatingProcedure.xml
Owners: @DEATHB4DEFEAT

Apply suggestions from code review
  Resources/Server Info/SimpleStation14/Guidebook/AlertProcedure/StandardOperatingProcedure.xml
Owners: @DEATHB4DEFEAT

Apply suggestions from code review
  Resources/Server Info/SimpleStation14/Guidebook/AlertProcedure/StandardOperatingProcedure.xml
Owners: @DEATHB4DEFEAT

a system
  Content.Shared/SimpleStation14/Traits/SightFear/SightFearTraitComponent.cs
  Content.Shared/SimpleStation14/Traits/SightFear/SightFearTraitSystem.cs
  Resources/Prototypes/SimpleStation14/Traits/disabilities.yml
Owners: @Pspritechologist, @DEATHB4DEFEAT

Fix cloning not adding traits (#67)
  Content.Client/Traits/TraitSystem.cs
  Content.Server/Cloning/CloningSystem.cs
  Content.Server/SimpleStation14/Jobs/AddComponentSpecial.cs
  Content.Server/SimpleStation14/Traits/Events/CloningEvents.cs
  Content.Server/Traits/TraitSystem.cs
  Content.Shared/Roles/JobPrototype.cs
  Content.Shared/Traits/TraitAddedEvent.cs
  Content.Shared/Traits/TraitPrototype.cs
  Resources/Locale/en-US/SimpleStation14/Content/Traits/traits.ftl
  Resources/Locale/en-US/SimpleStation14/Prototypes/Traits/abilities.ftl
  Resources/Locale/en-US/SimpleStation14/Prototypes/Traits/disabilities.ftl
  Resources/Locale/en-US/SimpleStation14/Prototypes/Traits/equal.ftl
  Resources/Prototypes/Nyanotrasen/Roles/Jobs/Engineering/cyborg.yml
  Resources/Prototypes/Nyanotrasen/Roles/Jobs/Medical/medical_cyborg.yml
  Resources/Prototypes/SimpleStation14/Roles/Jobs/Command/stationai.yml
  Resources/Prototypes/SimpleStation14/Traits/abilities.yml
  Resources/Prototypes/SimpleStation14/Traits/disabilities.yml
  Resources/Prototypes/SimpleStation14/Traits/equal.yml
Owners: @DEATHB4DEFEAT, @Pspritechologist

Automatic Changelog Update (#67)
  Resources/Changelog/SimpleStationChangelog.yml
Owners: @DEATHB4DEFEAT

ant sock
  Resources/Prototypes/SimpleStation14/Traits/abilities.yml
  Resources/Prototypes/SimpleStation14/Traits/disabilities.yml
Owners: @Pspritechologist, @DEATHB4DEFEAT

closet/locker open/close sound
  Resources/Audio/SimpleStation14/Effects/closet_close.ogg
  Resources/Audio/SimpleStation14/Effects/closet_open.ogg
  Resources/Prototypes/Entities/Structures/Storage/Closets/base_structureclosets.yml
Owners: @Pspritechologist, @DEATHB4DEFEAT

vending machine vend sound
  Resources/Audio/SimpleStation14/Machines/machine_vend.ogg
  Resources/Prototypes/Entities/Structures/Machines/vending_machines.yml
Owners: @Pspritechologist, @DEATHB4DEFEAT

Automatic Changelog Update (#55)
  Resources/Changelog/SimpleStationChangelog.yml
Owners: @DEATHB4DEFEAT

Update SimpleStationChangelog.yml
  Resources/Changelog/SimpleStationChangelog.yml
Owners: @DEATHB4DEFEAT

fix the nuke
  Resources/Prototypes/Entities/Objects/Fun/toys.yml
Owners: @DEATHB4DEFEAT

Update .github/PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
Owners: @DEATHB4DEFEAT

Update PR and Issue templates (#83)
  .github/ISSUE_TEMPLATE/issue_report.md
  .github/PULL_REQUEST_TEMPLATE.md
Owners: @DEATHB4DEFEAT

Changes to the lists of controlled substances and items (#72)
  Resources/Server Info/SimpleStation14/Guidebook/AlertProcedure/StandardOperatingProcedure.xml
Owners: @DEATHB4DEFEAT
