Repository Simple-Station/Parkstation, pull requests merged in 2023-06, with the labels that each got.

#162 Disable the banic punker
  Resources/ConfigPresets/SimpleStation14/Parkstation.toml
Labels: Status: Needs Review

#163 Fix reagents being ~2.5x as effective
  Content.Server/Chemistry/ReagentEffects/HealthChange.cs
  Resources/Prototypes/Reagents/Consumable/Drink/drinks.yml
  Resources/Prototypes/Reagents/gases.yml
  Resources/Prototypes/Reagents/toxins.yml
  Resources/Prototypes/SimpleStation14/Reagents/toxins.yml
Labels: Type: Bug, Status: Needs Review, Changes: C#, Changes: YML, Priority: 2-High, Size: Very Small, Holy Shit

#161 GunComponents will now roll to fire accidentally when dropped.
  Content.Server/SimpleStation14/Weapons/Ranged/Systems/FireOnDropSystem.cs
Labels: Status: Needs Review, Changes: C#

#159 Prescription Security glasses
  Resources/Prototypes/Catalog/VendingMachines/Inventories/sec.yml
  Resources/Prototypes/SimpleStation14/Entities/Clothing/Eyes/glasses.yml
  Resources/Prototypes/SimpleStation14/Loadouts/traits.yml
Labels: Status: Needs Review, Changes: YML

#133 [Job] Increase most job playtime requirements
  Resources/Prototypes/Nyanotrasen/Roles/Jobs/Engineering/cyborg.yml
  Resources/Prototypes/Nyanotrasen/Roles/Jobs/Epistemics/mystagogue.yml
  Resources/Prototypes/Nyanotrasen/Roles/Jobs/Medical/medical_cyborg.yml
  Resources/Prototypes/Nyanotrasen/Roles/Jobs/Medical/paramedic.yml
  Resources/Prototypes/Nyanotrasen/Roles/Jobs/Security/prisonguard.yml
  Resources/Prototypes/Roles/Jobs/Command/captain.yml
  Resources/Prototypes/Roles/Jobs/Command/head_of_personnel.yml
  Resources/Prototypes/Roles/Jobs/Engineering/atmospheric_technician.yml
  Resources/Prototypes/Roles/Jobs/Engineering/chief_engineer.yml
  Resources/Prototypes/Roles/Jobs/Engineering/station_engineer.yml
  Resources/Prototypes/Roles/Jobs/Medical/chemist.yml
  Resources/Prototypes/Roles/Jobs/Medical/chief_medical_officer.yml
  Resources/Prototypes/Roles/Jobs/Science/research_director.yml
  Resources/Prototypes/Roles/Jobs/Security/head_of_security.yml
  Resources/Prototypes/Roles/Jobs/Security/security_officer.yml
  Resources/Prototypes/Roles/Jobs/Security/warden.yml
  Resources/Prototypes/Roles/Jobs/departments.yml
  Resources/Prototypes/SimpleStation14/Roles/Jobs/Command/stationai.yml
  Resources/Prototypes/SimpleStation14/Roles/Jobs/Service/chief_service_supervisor.yml
Labels: Status: Needs Review, Changes: YML, Priority: 3-Medium, Size: Small

#164 fix station ai job loadout
  Resources/Prototypes/SimpleStation14/Roles/Jobs/Command/stationai.yml
Labels: Status: Needs Review, Changes: YML

#165 Fix guidebook
  Resources/Prototypes/SimpleStation14/Guidebook/alert_procedure.yml
  Resources/Prototypes/SimpleStation14/Guidebook/server.yml
  Resources/Prototypes/SimpleStation14/Guidebook/speciesCategories.yml
  Resources/Prototypes/SimpleStation14/Guidebook/speciesSpecific.yml
Labels: Status: Needs Review, Changes: YML

#167 Fix ai state and guidebook
  Resources/Prototypes/SimpleStation14/Entities/Mobs/Player/stationai.yml
  Resources/ServerInfo/SimpleStation14/Guidebook/AlertProcedure/AlertProcedure.xml
Labels: Changes: Documentation, Status: Needs Review, Changes: YML

#166 Changed the effects and recipe of Shiro's delight
  Resources/Prototypes/SimpleStation14/Reagents/drinks.yml
  Resources/Prototypes/SimpleStation14/Recipes/Reactions/chemicals.yml
Labels: Status: Needs Review, Changes: YML

#168 Fix zoom from the HeightAdjusted traits not being set properly,
  Content.Client/SimpleStation14/Traits/Systems/HeightAdjustedSystem.cs
  Content.Server/SimpleStation14/Traits/Systems/HeightAdjustedSystem.cs
Labels: Status: Needs Review, Changes: C#

#174 Robot role allotment fix
  Resources/Prototypes/Maps/parkstation.yml
Labels: Changes: Map, Status: Needs Review

#170 Inhands for anomaly scanner.
  Resources/Textures/Objects/Specific/Research/anomalyscanner.rsi/inhand-left.png
  Resources/Textures/Objects/Specific/Research/anomalyscanner.rsi/inhand-right.png
  Resources/Textures/Objects/Specific/Research/anomalyscanner.rsi/meta.json
Labels: Changes: Sprite, Status: Needs Review

#171 Paramedsuit resprite
  Resources/Textures/Clothing/Head/Helmets/paramedhelm.rsi/equipped-HELMET.png
  Resources/Textures/Clothing/Head/Helmets/paramedhelm.rsi/icon.png
  Resources/Textures/Clothing/Head/Helmets/paramedhelm.rsi/inhand-left.png
  Resources/Textures/Clothing/Head/Helmets/paramedhelm.rsi/inhand-right.png
  Resources/Textures/Clothing/Head/Helmets/paramedhelm.rsi/meta.json
  Resources/Textures/Clothing/OuterClothing/Hardsuits/paramed.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/Clothing/OuterClothing/Hardsuits/paramed.rsi/icon.png
  Resources/Textures/Clothing/OuterClothing/Hardsuits/paramed.rsi/inhand-left.png
  Resources/Textures/Clothing/OuterClothing/Hardsuits/paramed.rsi/inhand-right.png
  Resources/Textures/Clothing/OuterClothing/Hardsuits/paramed.rsi/meta.json
  Resources/Textures/SimpleStation14/Clothing/OuterClothing/Hardsuits/hopsuit.rsi/meta.json
Labels: Changes: Sprite, Status: Needs Review

#177 Fix missing AI eye copyright attribution
  Resources/Textures/SimpleStation14/Mobs/Silicon/ai.rsi/meta.json
Labels: Changes: Sprite, Status: Needs Review

#176 Inventory fixes
  Resources/Prototypes/Entities/Mobs/Player/observer.yml
  Resources/Prototypes/SimpleStation14/Entities/Mobs/NPCs/pets.yml
  Resources/Prototypes/SimpleStation14/InventoryTemplates/observer_inventory_template.yml
  Resources/Textures/Mobs/Ghosts/ghost_human.rsi/animated.png
  Resources/Textures/Mobs/Ghosts/ghost_human.rsi/icon.png
Labels: Changes: Sprite, Status: Needs Review, Changes: YML

#179 makes atlas medical not there anymore
  Resources/Prototypes/Maps/salvage.yml
Labels: Changes: Map, Status: Needs Review

#160 Drop on slip fix
  Content.Server/SimpleStation14/Slippery/DropOnSlipComponent.cs
  Content.Server/SimpleStation14/Slippery/DropOnSlipSystem.cs
  Content.Server/SimpleStation14/Slippery/Systems/DropOnSlipSystem.cs
  Content.Shared/Slippery/SlipperySystem.cs
  Resources/Locale/en-US/SimpleStation14/Content/Slippery/dropOnSlip.ftl
Labels: Status: Needs Review, Changes: C#, Changes: Localization, Status: Requires

#181 Bolt Signals for Airlocks
  Content.Server/Doors/Systems/AirlockSystem.cs
  Content.Shared/Doors/Components/AirlockComponent.cs
  Resources/Locale/en-US/machine-linking/receiver_ports.ftl
  Resources/Prototypes/Entities/Structures/Doors/Airlocks/base_structureairlocks.yml
  Resources/Prototypes/SimpleStation14/MachineLinking/receiver_ports.yml
Labels: Status: Needs Review, Changes: C#, Changes: YML, Changes: Localization

#173 blood filler cargo orders
  Resources/Prototypes/SimpleStation14/Catalog/Cargo/cargo_medical.yml
  Resources/Prototypes/SimpleStation14/Catalog/Fills/Crates/medical.yml
Labels: Status: Needs Review, Changes: YML
