Repository Simple-Station/Parkstation, pull requests merged in 2023-10, with the labels that each got.

#211 fix-stationefficiency
  Resources/Locale/en-US/SimpleStation14/Prototypes/Laws/laws.ftl
Labels: Status: Needs Review, Changes: Localization

#210 [Repo] Merge Upstream
  Content.Server/Administration/Systems/AdminVerbSystem.cs
  Resources/Audio/Nyanotrasen/Weapons/Guns/Gunshots/universal.ogg
  Resources/Audio/Nyanotrasen/Weapons/licenses.txt
  Resources/Prototypes/Nyanotrasen/Entities/Mobs/NPCs/special.yml
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Weapons/Guns/Pistols/pistols.yml
  Resources/Prototypes/Nyanotrasen/Roles/Jobs/Cargo/mail_carrier.yml
  Resources/Prototypes/Roles/Jobs/Cargo/quartermaster.yml
  Resources/Prototypes/Roles/Jobs/Fun/misc_startinggear.yml
  Resources/Prototypes/Roles/Jobs/Wildcards/zookeeper.yml
  Resources/Textures/Nyanotrasen/Clothing/Belt/katanasheath.rsi/equipped-BELT.png
  Resources/Textures/Nyanotrasen/Clothing/Belt/katanasheath.rsi/sheath-sabre-equipped-BELT.png
  Resources/Textures/Nyanotrasen/Objects/Weapons/Guns/Pistols/universal.rsi/base.png
  Resources/Textures/Nyanotrasen/Objects/Weapons/Guns/Pistols/universal.rsi/icon.png
  Resources/Textures/Nyanotrasen/Objects/Weapons/Guns/Pistols/universal.rsi/mag-0.png
  Resources/Textures/Nyanotrasen/Objects/Weapons/Guns/Pistols/universal.rsi/meta.json
Labels: Changes: Sprite, Status: Needs Review, Changes: C#, Changes: YML

#212 Allow admins to force markings onto IPCs
  Resources/Prototypes/SimpleStation14/Species/ipc.yml
Labels: Status: Needs Review, Changes: YML

#214 Reinforced Reinforced Tiles
  Content.Server/Atmos/EntitySystems/AtmosphereSystem.Utils.cs
  Content.Shared/Maps/ContentTileDefinition.cs
  Resources/Prototypes/Tiles/floors.yml
Labels: Status: Needs Review, Changes: C#, Changes: YML

#216 Charger Burning Alert Fix
  Content.Server/SimpleStation14/Silicon/Charge/Systems/SiliconChargerSystem.cs
Labels: Status: Needs Review, Changes: C#

#217 The mop stat now displays correctly (and is less dumb)
  Content.Server/Fluids/EntitySystems/AbsorbentSystem.cs
  Content.Server/SimpleStation14/EndOfRoundStats/MopUsed/MopUsedStatEvent.cs
  Content.Server/SimpleStation14/EndOfRoundStats/MopUsed/MopUsedStatSystem.cs
  Resources/Locale/en-US/SimpleStation14/Content/RoundEndStats/mopUsedStats.ftl
Labels: Status: Needs Review, Changes: C#, Changes: Localization

#218 Fix Shadowkin Dark Visibility
  Content.Server/SimpleStation14/Eye/EyeStartup.cs
  Content.Server/SimpleStation14/Species/Shadowkin/Components/ShadowkinDarkSwapPowerComponent.cs
  Content.Server/SimpleStation14/Species/Shadowkin/Systems/ShadowkinPowerSystem.DarkSwap.cs
  Content.Shared/SimpleStation14/Species/Shadowkin/Components/ShadowkinDarkSwappedComponent.cs
  Resources/Prototypes/SimpleStation14/factions.yml
Labels: Status: Needs Review, Changes: C#, Changes: YML

#221 Update slippedCountStats.ftl
  Resources/Locale/en-US/SimpleStation14/Content/RoundEndStats/slippedCountStats.ftl
Labels: Status: Needs Review, Changes: Localization

#220 [Map] ParkStation is Arborum again
  Resources/Prototypes/Maps/parkstation.yml
Labels: Changes: Map, Status: Needs Review

#223 [Resprite] Wallmed
  Resources/Textures/Structures/Machines/VendingMachines/wallmed.rsi/broken.png
  Resources/Textures/Structures/Machines/VendingMachines/wallmed.rsi/deny-unshaded.png
  Resources/Textures/Structures/Machines/VendingMachines/wallmed.rsi/meta.json
  Resources/Textures/Structures/Machines/VendingMachines/wallmed.rsi/normal-unshaded.png
  Resources/Textures/Structures/Machines/VendingMachines/wallmed.rsi/off.png
Labels: Changes: Sprite, Status: Needs Review

#225 [Resprite] Return TG SmartFridge Sprite
  Resources/Textures/Structures/Machines/VendingMachines/smartfridge.rsi/broken.png
  Resources/Textures/Structures/Machines/VendingMachines/smartfridge.rsi/deny-unshaded.png
  Resources/Textures/Structures/Machines/VendingMachines/smartfridge.rsi/fill-0.png
  Resources/Textures/Structures/Machines/VendingMachines/smartfridge.rsi/fill-1.png
  Resources/Textures/Structures/Machines/VendingMachines/smartfridge.rsi/fill-2.png
  Resources/Textures/Structures/Machines/VendingMachines/smartfridge.rsi/fill-3.png
  Resources/Textures/Structures/Machines/VendingMachines/smartfridge.rsi/meta.json
  Resources/Textures/Structures/Machines/VendingMachines/smartfridge.rsi/normal-unshaded.png
  Resources/Textures/Structures/Machines/VendingMachines/smartfridge.rsi/off-real.png
  Resources/Textures/Structures/Machines/VendingMachines/smartfridge.rsi/off.png
  Resources/Textures/Structures/Machines/VendingMachines/smartfridge.rsi/panel.png
Labels: Changes: Sprite, Status: Needs Review

#227 [Resprite] Fix Atmospheric Backpack's Stray Pixel
  Resources/Textures/Clothing/Back/Backpacks/atmospherics.rsi/equipped-BACKPACK.png
Labels: Changes: Sprite, Status: Needs Review

#229 [Resprite] Death Squad Helmet
  Resources/Textures/Clothing/Mask/squadron.rsi/equipped-MASK.png
  Resources/Textures/Clothing/Mask/squadron.rsi/icon.png
  Resources/Textures/Clothing/Mask/squadron.rsi/inhand-left.png
  Resources/Textures/Clothing/Mask/squadron.rsi/inhand-right.png
  Resources/Textures/Clothing/Mask/squadron.rsi/meta.json
Labels: Changes: Sprite, Status: Needs Review

#230 [Resprite] Legendary Rust Wall Resprite
  Resources/Textures/Structures/Walls/solidrust.rsi/full.png
  Resources/Textures/Structures/Walls/solidrust.rsi/meta.json
  Resources/Textures/Structures/Walls/solidrust.rsi/solidrust0.png
  Resources/Textures/Structures/Walls/solidrust.rsi/solidrust1.png
  Resources/Textures/Structures/Walls/solidrust.rsi/solidrust2.png
  Resources/Textures/Structures/Walls/solidrust.rsi/solidrust3.png
  Resources/Textures/Structures/Walls/solidrust.rsi/solidrust4.png
  Resources/Textures/Structures/Walls/solidrust.rsi/solidrust5.png
  Resources/Textures/Structures/Walls/solidrust.rsi/solidrust6.png
  Resources/Textures/Structures/Walls/solidrust.rsi/solidrust7.png
Labels: Changes: Sprite, Status: Needs Review, Priority: 1-Urgent

#224 [Resprite] Make Speech Bubbles 32px
  Resources/Prototypes/typing_indicator.yml
  Resources/Textures/Effects/speech.rsi/alien0.png
  Resources/Textures/Effects/speech.rsi/alien1.png
  Resources/Textures/Effects/speech.rsi/alien2.png
  Resources/Textures/Effects/speech.rsi/alien3.png
  Resources/Textures/Effects/speech.rsi/alienroyal0.png
  Resources/Textures/Effects/speech.rsi/alienroyal1.png
  Resources/Textures/Effects/speech.rsi/alienroyal2.png
  Resources/Textures/Effects/speech.rsi/alienroyal3.png
  Resources/Textures/Effects/speech.rsi/blob0.png
  Resources/Textures/Effects/speech.rsi/blob1.png
  Resources/Textures/Effects/speech.rsi/blob2.png
  Resources/Textures/Effects/speech.rsi/blob3.png
  Resources/Textures/Effects/speech.rsi/default0.png
  Resources/Textures/Effects/speech.rsi/default1.png
  Resources/Textures/Effects/speech.rsi/default2.png
  Resources/Textures/Effects/speech.rsi/default3.png
  Resources/Textures/Effects/speech.rsi/guardian0.png
  Resources/Textures/Effects/speech.rsi/guardian1.png
  Resources/Textures/Effects/speech.rsi/guardian2.png
  Resources/Textures/Effects/speech.rsi/guardian3.png
  Resources/Textures/Effects/speech.rsi/holo0.png
  Resources/Textures/Effects/speech.rsi/holo1.png
  Resources/Textures/Effects/speech.rsi/holo2.png
  Resources/Textures/Effects/speech.rsi/holo3.png
  Resources/Textures/Effects/speech.rsi/lawyer0.png
  Resources/Textures/Effects/speech.rsi/lawyer1.png
  Resources/Textures/Effects/speech.rsi/lawyer2.png
  Resources/Textures/Effects/speech.rsi/lawyer3.png
  Resources/Textures/Effects/speech.rsi/machine0.png
  Resources/Textures/Effects/speech.rsi/machine1.png
  Resources/Textures/Effects/speech.rsi/machine2.png
  Resources/Textures/Effects/speech.rsi/machine3.png
  Resources/Textures/Effects/speech.rsi/meta.json
  Resources/Textures/Effects/speech.rsi/moth0.png
  Resources/Textures/Effects/speech.rsi/moth1.png
  Resources/Textures/Effects/speech.rsi/moth2.png
  Resources/Textures/Effects/speech.rsi/moth3.png
  Resources/Textures/Effects/speech.rsi/robot0.png
  Resources/Textures/Effects/speech.rsi/robot1.png
  Resources/Textures/Effects/speech.rsi/robot2.png
  Resources/Textures/Effects/speech.rsi/robot3.png
  Resources/Textures/Effects/speech.rsi/signlang0.png
  Resources/Textures/Effects/speech.rsi/signlang1.png
  Resources/Textures/Effects/speech.rsi/signlang2.png
  Resources/Textures/Effects/speech.rsi/signlang3.png
  Resources/Textures/Effects/speech.rsi/slime0.png
  Resources/Textures/Effects/speech.rsi/slime1.png
  Resources/Textures/Effects/speech.rsi/slime3.png
  Resources/Textures/Effects/speech.rsi/syndibot0.png
  Resources/Textures/Effects/speech.rsi/syndibot1.png
  Resources/Textures/Effects/speech.rsi/syndibot2.png
  Resources/Textures/Effects/speech.rsi/syndibot3.png
Labels: Changes: Sprite, Status: Needs Review, Changes: YML

#190 EMP effect for Silicons
  Content.Client/SimpleStation14/Overlays/Shaders/StaticOverlay.cs
  Content.Client/SimpleStation14/Silicon/Systems/SeeingStaticSystem.cs
  Content.Server/Administration/Commands/SetOutfitCommand.cs
  Content.Server/Emp/EmpSystem.cs
  Content.Server/SimpleStation14/Silicon/Systems/SiliconEmpSystem.cs
  Content.Server/SimpleStation14/Silicon/Systems/SiliconMiscSystem.cs
  Content.Server/Station/Systems/StationSpawningSystem.cs
  Content.Server/StationEvents/Components/SolarFlareRuleComponent.cs
  Content.Server/StationEvents/Events/SolarFlareRule.cs
  Content.Server/Temperature/Systems/TemperatureSystem.cs
  Content.Server/Zombies/ZombifyOnDeathSystem.cs
  Content.Shared/Humanoid/NamingSystem.cs
  Content.Shared/Humanoid/SkinColor.cs
  Content.Shared/Radio/Components/EncryptionKeyHolderComponent.cs
  Content.Shared/Radio/EntitySystems/EncryptionKeySystem.cs
  Content.Shared/Repairable/SharedRepairableSystem.cs
  Content.Shared/SimpleStation14/Silicon/Components/SeeingStaticComponent.cs
  Content.Shared/SimpleStation14/Silicon/Systems/SeeingStaticSystem.cs
  Resources/Prototypes/GameRules/events.yml
  Resources/Prototypes/SimpleStation14/Damage/containers.yml
  Resources/Prototypes/SimpleStation14/Entities/Mobs/Player/silicon_base.yml
  Resources/Prototypes/SimpleStation14/Shaders/shaders.yml
  Resources/Prototypes/SimpleStation14/status_effects.yml
  Resources/Textures/SimpleStation14/Shaders/seeing_static.swsl
Labels: Status: Needs Review, Changes: C#, Changes: YML
