Repository Simple-Station/Parkstation, pull requests merged in 2023-07, with the labels that each got.

#186 Update Parkstation.toml
  Resources/ConfigPresets/SimpleStation14/Parkstation.toml
Labels: Status: Needs Review

#187 Added Borg chargers
  Resources/Maps/parkstation.yml
Labels: Changes: Map, Status: Needs Review

#188 Shadowkin fixes
  Content.Server/Magic/MagicSystem.cs
  Content.Server/SimpleStation14/Species/Shadowkin/Events/ShadowkinEvents.Powers.cs
  Content.Server/SimpleStation14/Species/Shadowkin/Systems/ShadowkinPowerSystem.DarkSwap.cs
  Content.Server/SimpleStation14/Species/Shadowkin/Systems/ShadowkinPowerSystem.Rest.cs
  Content.Server/SimpleStation14/Species/Shadowkin/Systems/ShadowkinPowerSystem.Teleport.cs
  Content.Server/SimpleStation14/Species/Shadowkin/Systems/ShadowkinSystem.cs
  Content.Shared/SimpleStation14/Species/Shadowkin/Components/ShadowkinComponent.cs
  Resources/Prototypes/SimpleStation14/Magic/shadowkin.yml
Labels: Status: Needs Review, Changes: C#, Changes: YML

#189 Shadowkin fixes (real)
  Content.Server/SimpleStation14/Species/Shadowkin/Systems/ShadowkinPowerSystem.DarkSwap.cs
  Content.Server/SimpleStation14/Species/Shadowkin/Systems/ShadowkinPowerSystem.Darken.cs
  Content.Server/SimpleStation14/Species/Shadowkin/Systems/ShadowkinPowerSystem.Rest.cs
  Content.Server/SimpleStation14/Species/Shadowkin/Systems/ShadowkinPowerSystem.Teleport.cs
  Content.Server/SimpleStation14/Species/Shadowkin/Systems/ShadowkinSystem.cs
  Resources/Prototypes/Entities/Objects/Devices/pda.yml
  Resources/Prototypes/Entities/Objects/Misc/fluff_lights.yml
  Resources/Prototypes/Entities/Objects/Tools/flashlights.yml
  Resources/Prototypes/Entities/Structures/Lighting/base_lighting.yml
Labels: Status: Needs Review, Changes: C#, Changes: YML, Priority: 2-High, Size: Small

#191 Fixed missing RSI error :))
  Resources/Prototypes/SimpleStation14/Entities/Clothing/Under/empty.yml
Labels: Status: Needs Review, Changes: YML
