Repository Simple-Station/Parkstation, pull requests merged in 2023-05, with the labels that each got.

#108 Door bump searches belt slot
  Content.Shared/Access/Systems/AccessReaderSystem.cs
  Content.Shared/Access/Systems/SharedIdCardSystem.cs
Labels: Status: Needs Review, Changes: C#

#49 AI but actually implemented well
  Content.Client/SimpleStation14/StationAI/UI/AICameraList.xaml
  Content.Client/SimpleStation14/StationAI/UI/AICameraList.xaml.cs
  Content.Client/SimpleStation14/StationAI/UI/AICameraListBoundUserInterface.cs
  Content.IntegrationTests/Tests/PrototypeSaveTest.cs
  Content.Server/Communications/CommunicationsConsoleComponent.cs
  Content.Server/Communications/CommunicationsConsoleSystem.cs
  Content.Server/Nyanotrasen/Borgs/InnateItemComponent.cs
  Content.Server/Nyanotrasen/Borgs/InnateItemSystem.cs
  Content.Server/Remotes/DoorRemoteComponent.cs
  Content.Server/SimpleStation14/Eye/EyeStartup.cs
  Content.Server/SimpleStation14/StationAI/Systems/AICameraList.cs
  Content.Server/SimpleStation14/StationAI/Systems/AICameraSystem.cs
  Content.Server/SimpleStation14/StationAI/Systems/AICameraWarp.cs
  Content.Server/SimpleStation14/StationAI/Systems/AIEyeSystem.cs
  Content.Server/SimpleStation14/StationAI/Systems/AITelegnosisPowerSystem.cs
  Content.Server/SimpleStation14/StationAI/Systems/StationAISystem.cs
  Content.Server/Visible/VisibilityFlags.cs
  Content.Shared/SimpleStation14/StationAI/Components/AICameraComponent.cs
  Content.Shared/SimpleStation14/StationAI/Components/AIEyeComponent.cs
  Content.Shared/SimpleStation14/StationAI/Components/AIEyePowerComponent.cs
  Content.Shared/SimpleStation14/StationAI/Events/StationAIEvents.cs
  Content.Shared/SimpleStation14/StationAI/Systems/AICameraSystem.cs
  Content.Shared/SimpleStation14/StationAI/Systems/StationAISystem.cs
  Content.Shared/SimpleStation14/StationAI/UI/Key.cs
  Resources/Locale/en-US/SimpleStation14/Content/StationAI/UI.ftl
  Resources/Locale/en-US/SimpleStation14/Content/StationAI/actions.ftl
  Resources/Prototypes/Entities/Objects/Devices/door_remote.yml
  Resources/Prototypes/Entities/Structures/Wallmounts/surveillance_camera.yml
  Resources/Prototypes/Nyanotrasen/Actions/types.yml
  Resources/Prototypes/SimpleStation14/Actions/types.yml
  Resources/Prototypes/SimpleStation14/Entities/Mobs/Player/stationai.yml
  Resources/Prototypes/SimpleStation14/Entities/Objects/Devices/door_remote.yml
  Resources/Prototypes/SimpleStation14/Roles/Jobs/Command/stationai.yml
  Resources/Textures/SimpleStation14/Mobs/Silicon/ai.rsi/ai.png
  Resources/Textures/SimpleStation14/Mobs/Silicon/ai.rsi/ai_dead.png
  Resources/Textures/SimpleStation14/Mobs/Silicon/ai.rsi/aieye.png
  Resources/Textures/SimpleStation14/Mobs/Silicon/ai.rsi/icon-camera.png
  Resources/Textures/SimpleStation14/Mobs/Silicon/ai.rsi/icon-comms.png
  Resources/Textures/SimpleStation14/Mobs/Silicon/ai.rsi/meta.json
  Resources/Textures/SimpleStation14/Mobs/Silicon/aieye.rsi/meta.json
Labels: Changes: Sprite, Status: Needs Review, Changes: UI, Changes: C#, Changes: YML, Changes: Localization

#112 Move server config to repository
  Resources/ConfigPresets/SimpleStation14/Parkstation.toml
Labels: Status: Needs Review

#118 Minor map changes
  Resources/Maps/parkstation.yml
Labels: Changes: Map, Status: Needs Review

#120 CHOCCY MILK!
  Resources/Locale/en-US/SimpleStation14/Prototypes/Reagents/effects.ftl
  Resources/Locale/en-US/SimpleStation14/Prototypes/Reagents/food.ftl
  Resources/Locale/en-US/reagents/meta/fun.ftl
  Resources/Prototypes/Entities/Objects/Consumable/Food/snacks.yml
  Resources/Prototypes/SimpleStation14/Reagents/Consumables/Drink/chocolate.yml
  Resources/Prototypes/SimpleStation14/Recipes/Reactions/drink.yml
Labels: Status: Needs Review, Changes: YML, Changes: Localization

#122 [Job] Add whitelist to SAI and CSS
  Resources/Prototypes/SimpleStation14/Roles/Jobs/Command/stationai.yml
  Resources/Prototypes/SimpleStation14/Roles/Jobs/Service/chief_service_supervisor.yml
Labels: Status: Needs Review, Changes: YML

#128 fix the emergency shuttle error on map validator
  Resources/Maps/Shuttles/emergency.yml
Labels: Changes: Map, Status: Needs Review

#135 Mapping OhioStation
  Resources/Maps/ohiostation.yml
  Resources/Prototypes/Maps/Pools/parkstation.yml
  Resources/Prototypes/Maps/ohiostation.yml
  Resources/Prototypes/SimpleStation14/Entities/Structures/Decoration/statues.yml
  Resources/Textures/SimpleStation14/Structures/Decorations/statues.rsi/dragon_jasper.png
  Resources/Textures/SimpleStation14/Structures/Decorations/statues.rsi/meta.json
Labels: Changes: Map, Changes: Sprite, Status: Needs Review

#129 Fix traits disappearing on rejoin
  Content.Shared/SimpleStation14/Traits/Components/HeightAdjustedComponent.cs
  Content.Shared/SimpleStation14/Traits/Components/MonochromacyComponent.cs
  Content.Shared/SimpleStation14/Traits/Components/NearsightedComponent.cs
Labels: Status: Needs Review, Changes: C#, Priority: 2-High

#123 [Trait] Fix lightweight trait localization
  Resources/Locale/en-US/SimpleStation14/Prototypes/Traits/abilities.ftl
  Resources/Prototypes/SimpleStation14/Traits/abilities.yml
Labels: Status: Needs Review, Changes: YML, Changes: Localization

#134 Shiro's Delight (drink)
  Resources/Locale/en-US/flavors/flavor-profiles.ftl
  Resources/Prototypes/SimpleStation14/Entities/Consumable/Drinks/drinks.yml
  Resources/Prototypes/SimpleStation14/Flavors/flavors.yml
  Resources/Prototypes/SimpleStation14/Reagents/drinks.yml
  Resources/Prototypes/SimpleStation14/Recipes/Reactions/chemicals.yml
  Resources/Textures/SimpleStation14/Objects/Consumable/Drinks/shirosdelightglass.rsi/icon.png
  Resources/Textures/SimpleStation14/Objects/Consumable/Drinks/shirosdelightglass.rsi/meta.json
Labels: Changes: Sprite, Status: Needs Review, Changes: YML, Changes: Localization, Size: Very Small

#140 Use tag system instead of automatic inference for server config
  Resources/ConfigPresets/SimpleStation14/Parkstation.toml
Labels: Status: Needs Review

#146 big fluffy tail marking for the shadowkin
  Resources/Prototypes/SimpleStation14/Entities/Mobs/Customization/tails.yml
  Resources/Textures/SimpleStation14/Mobs/Customization/tails64x32.rsi/meta.json
  Resources/Textures/SimpleStation14/Mobs/Customization/tails64x32.rsi/shadowkin_big_fluff.png
Labels: Changes: Sprite, Status: Needs Review, Changes: YML

#147 Revert "Mapping OhioStation (#135)"
  Resources/Maps/ohiostation.yml
  Resources/Prototypes/Maps/Pools/parkstation.yml
  Resources/Prototypes/Maps/ohiostation.yml
  Resources/Prototypes/SimpleStation14/Entities/Structures/Decoration/statues.yml
  Resources/Textures/SimpleStation14/Structures/Decorations/statues.rsi/dragon_jasper.png
  Resources/Textures/SimpleStation14/Structures/Decorations/statues.rsi/meta.json
Labels: Changes: Map, Changes: Sprite, Status: Needs Review

#139 Some more cargo orders plus sliceable cabbages
  Resources/Prototypes/Entities/Objects/Consumable/Food/produce.yml
  Resources/Prototypes/SimpleStation14/Catalog/Cargo/cargo_food.yml
  Resources/Prototypes/SimpleStation14/Catalog/Cargo/cargo_livestock.yml
  Resources/Prototypes/SimpleStation14/Catalog/Cargo/cargo_science.yml
  Resources/Prototypes/SimpleStation14/Catalog/Fills/Crates/food.yml
  Resources/Prototypes/SimpleStation14/Catalog/Fills/Crates/npc.yml
  Resources/Prototypes/SimpleStation14/Catalog/Fills/Crates/science.yml
  Resources/Prototypes/SimpleStation14/Entities/Consumable/Food/produce.yml
  Resources/Prototypes/SimpleStation14/Entities/Structures/Storage/Crates/crates.yml
  Resources/Textures/SimpleStation14/Objects/Specific/Hydroponics/cabbage.rsi/meta.json
  Resources/Textures/SimpleStation14/Objects/Specific/Hydroponics/cabbage.rsi/produce.png
  Resources/Textures/SimpleStation14/Structures/Storage/Crates/freezer_secure.rsi/base.png
  Resources/Textures/SimpleStation14/Structures/Storage/Crates/freezer_secure.rsi/closed.png
  Resources/Textures/SimpleStation14/Structures/Storage/Crates/freezer_secure.rsi/icon.png
  Resources/Textures/SimpleStation14/Structures/Storage/Crates/freezer_secure.rsi/locked.png
  Resources/Textures/SimpleStation14/Structures/Storage/Crates/freezer_secure.rsi/meta.json
  Resources/Textures/SimpleStation14/Structures/Storage/Crates/freezer_secure.rsi/open.png
  Resources/Textures/SimpleStation14/Structures/Storage/Crates/freezer_secure.rsi/sparking.png
  Resources/Textures/SimpleStation14/Structures/Storage/Crates/freezer_secure.rsi/unlocked.png
  Resources/Textures/SimpleStation14/Structures/Storage/Crates/freezer_secure.rsi/welded.png
Labels: Changes: Sprite, Status: Needs Review, Changes: YML

#149 Make pride pins
  Resources/Prototypes/SimpleStation14/Loadouts/neck.yml
Labels: Status: Needs Review, Changes: YML

#152 Enable panic bunkers and low player counts
  Resources/ConfigPresets/SimpleStation14/Parkstation.toml
  Resources/Locale/en-US/connection-messages.ftl
Labels: Status: Needs Review, Changes: Localization

#150 fixes a typo in the cargo crates which would have led to an error and possibly a crash
  Resources/Prototypes/SimpleStation14/Catalog/Fills/Crates/food.yml
Labels: Status: Needs Review, Changes: YML

#157 Two Additional Shadowkin Tails
  Resources/Locale/en-US/SimpleStation14/Prototypes/Entities/Mobs/Customization/tails.ftl
  Resources/Prototypes/SimpleStation14/Entities/Mobs/Customization/tails.yml
  Resources/Textures/SimpleStation14/Mobs/Customization/tails32x32.rsi/meta.json
  Resources/Textures/SimpleStation14/Mobs/Customization/tails32x32.rsi/shadowkin_medium.png
  Resources/Textures/SimpleStation14/Mobs/Customization/tails32x32.rsi/shadowkin_shorter.png
Labels: Changes: Sprite, Status: Needs Review, Changes: YML, Changes: Localization

#158 geoff
  Resources/Prototypes/Entities/Mobs/NPCs/pets.yml
Labels: Status: Needs Review, Changes: YML
