Repository Simple-Station/Parkstation, pull requests merged in 2023-04, with the labels that each got.

#57 Character sprite examine window
  Content.Client/SimpleStation14/Examine/SpriteExamine/Systems/SpriteExaminableSystem.cs
  Content.Client/SimpleStation14/Examine/SpriteExamine/UI/SpriteExamineWindow.xaml
  Content.Client/SimpleStation14/Examine/SpriteExamine/UI/SpriteExamineWindow.xaml.cs
  Content.Shared/SimpleStation14/Examine/SpriteExamine/Components/SpriteExaminableComponent.cs
  Resources/Locale/en-US/SimpleStation14/Content/SpriteExamine/spriteExamineUi.ftl
  Resources/Locale/en-US/SimpleStation14/Content/SpriteExamine/spriteExamineVerb.ftl
  Resources/Prototypes/Entities/Mobs/Species/base.yml
Labels: Status: Needs Review, Changes: UI, Changes: C#, Changes: YML, Changes: Localization, Priority: 4-Low

#63 changelogs
  Resources/Changelog/SimpleStationChangelog.yml
Labels: Changes: YML

#75 Increase Reinforcement TC count from 12 to 13
  Resources/Prototypes/Catalog/uplink_catalog.yml
Labels: Status: Needs Review, Changes: YML

#77 Update SimpleStationChangelog.yml
  Resources/Changelog/SimpleStationChangelog.yml
Labels: Changes: YML

#76 Add node scanner to loadout
  Resources/Prototypes/SimpleStation14/Loadouts/jobs.yml
Labels: Status: Needs Review, Changes: YML

#84 Walter has been revived.
  Resources/Changelog/SimpleStationChangelog.yml
  Resources/Prototypes/Entities/Mobs/NPCs/pets.yml
  Resources/Prototypes/Nyanotrasen/Entities/Mobs/NPCs/dogs.yml
Labels: Status: Needs Review, Changes: YML

#67 Fix cloning not adding traits
  Content.Client/Traits/TraitSystem.cs
  Content.Server/Cloning/CloningSystem.cs
  Content.Server/SimpleStation14/Jobs/AddComponentSpecial.cs
  Content.Server/SimpleStation14/Traits/Events/CloningEvents.cs
  Content.Server/Traits/TraitSystem.cs
  Content.Shared/Roles/JobPrototype.cs
  Content.Shared/Traits/TraitAddedEvent.cs
  Content.Shared/Traits/TraitPrototype.cs
  Resources/Locale/en-US/SimpleStation14/Content/Traits/traits.ftl
  Resources/Locale/en-US/SimpleStation14/Prototypes/Traits/abilities.ftl
  Resources/Locale/en-US/SimpleStation14/Prototypes/Traits/disabilities.ftl
  Resources/Locale/en-US/SimpleStation14/Prototypes/Traits/equal.ftl
  Resources/Prototypes/Nyanotrasen/Roles/Jobs/Engineering/cyborg.yml
  Resources/Prototypes/Nyanotrasen/Roles/Jobs/Medical/medical_cyborg.yml
  Resources/Prototypes/SimpleStation14/Roles/Jobs/Command/stationai.yml
  Resources/Prototypes/SimpleStation14/Traits/abilities.yml
  Resources/Prototypes/SimpleStation14/Traits/disabilities.yml
  Resources/Prototypes/SimpleStation14/Traits/equal.yml
Labels: Status: Needs Review, Changes: C#, Changes: YML, Changes: Localization

#83 Update PR and Issue templates
  .github/ISSUE_TEMPLATE/issue_report.md
  .github/PULL_REQUEST_TEMPLATE.md
Labels: Status: Needs Review

#72 Changes to the lists of controlled substances and items
  Resources/Server Info/SimpleStation14/Guidebook/AlertProcedure/StandardOperatingProcedure.xml
Labels: Changes: Documentation

#66 Trait cost rebalancing
  Resources/Prototypes/SimpleStation14/Traits/abilities.yml
  Resources/Prototypes/SimpleStation14/Traits/disabilities.yml
Labels: Status: Needs Review, Changes: YML

#87 head of personnel's hardsuit
  Resources/Prototypes/Catalog/Fills/Boxes/general.yml
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
  Resources/Prototypes/SimpleStation14/Entities/Clothing/Head/hardsuit-helmets.yml
  Resources/Prototypes/SimpleStation14/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Textures/SimpleStation14/Clothing/Head/Hardsuits/hopsuit.rsi/equipped-head-light.png
  Resources/Textures/SimpleStation14/Clothing/Head/Hardsuits/hopsuit.rsi/equipped-head.png
  Resources/Textures/SimpleStation14/Clothing/Head/Hardsuits/hopsuit.rsi/icon.png
  Resources/Textures/SimpleStation14/Clothing/Head/Hardsuits/hopsuit.rsi/light-overlay.png
  Resources/Textures/SimpleStation14/Clothing/Head/Hardsuits/hopsuit.rsi/meta.json
  Resources/Textures/SimpleStation14/Clothing/OuterClothing/Hardsuits/hopsuit.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/SimpleStation14/Clothing/OuterClothing/Hardsuits/hopsuit.rsi/icon.png
  Resources/Textures/SimpleStation14/Clothing/OuterClothing/Hardsuits/hopsuit.rsi/inhand-left.png
  Resources/Textures/SimpleStation14/Clothing/OuterClothing/Hardsuits/hopsuit.rsi/inhand-right.png
  Resources/Textures/SimpleStation14/Clothing/OuterClothing/Hardsuits/hopsuit.rsi/meta.json
Labels: Changes: Sprite, Status: Needs Review, Changes: YML

#86 [Fix] AnnouncerSystem fixes and improvements
  Content.Client/Administration/UI/AdminAnnounceWindow.xaml
  Content.Client/Administration/UI/AdminAnnounceWindow.xaml.cs
  Content.Client/Administration/UI/AdminMenuWindowEui.cs
  Content.Server/Administration/UI/AdminAnnounceEui.cs
  Content.Server/AlertLevel/AlertLevelPrototype.cs
  Content.Server/AlertLevel/AlertLevelSystem.cs
  Content.Server/Announcements/AnnounceCommand.cs
  Content.Server/Announcements/RoundAnnouncementPrototype.cs
  Content.Server/GameTicking/GameTicker.RoundFlow.cs
  Content.Server/GameTicking/Rules/Configurations/StationEventRuleConfiguration.cs
  Content.Server/Nyanotrasen/Fugitive/FugitiveSystem.cs
  Content.Server/SimpleStation14/Announcements/Systems/AnnouncerSystem.Announce.cs
  Content.Server/SimpleStation14/Announcements/Systems/AnnouncerSystem.Announcer.cs
  Content.Server/SimpleStation14/Announcements/Systems/AnnouncerSystem.Initialize.cs
  Content.Shared/Administration/AdminAnnounceEuiState.cs
  Content.Shared/SimpleStation14/Announcements/Prototypes/AnnouncerPrototype.cs
  Resources/Audio/Announcements/aliens.ogg
  Resources/Audio/Announcements/announce.ogg
  Resources/Audio/Announcements/attention.ogg
  Resources/Audio/Announcements/bloblarm.ogg
  Resources/Audio/Announcements/bureaucratic_error.ogg
  Resources/Audio/Announcements/gas_leak.ogg
  Resources/Audio/Announcements/kudzu.ogg
  Resources/Audio/Announcements/license.txt
  Resources/Audio/Announcements/meteors.ogg
  Resources/Audio/Announcements/noosphericstorm.ogg
  Resources/Audio/Announcements/outbreak7.ogg
  Resources/Audio/Announcements/power_off.ogg
  Resources/Audio/Announcements/power_on.ogg
  Resources/Audio/Announcements/radiation.ogg
  Resources/Audio/Announcements/shuttle_dock.ogg
  Resources/Audio/Announcements/shuttlecalled.ogg
  Resources/Audio/Announcements/shuttlerecalled.ogg
  Resources/Audio/Announcements/ventclog.ogg
  Resources/Audio/Announcements/welcome.ogg
  Resources/Audio/SimpleStation14/Announcements/Intern/newai.ogg
  Resources/Audio/SimpleStation14/Announcements/NEIL/code_blue.ogg
  Resources/Audio/SimpleStation14/Announcements/NEIL/code_delta.ogg
  Resources/Audio/SimpleStation14/Announcements/NEIL/code_epsilon.ogg
  Resources/Audio/SimpleStation14/Announcements/NEIL/code_gamma.ogg
  Resources/Audio/SimpleStation14/Announcements/NEIL/code_green.ogg
  Resources/Audio/SimpleStation14/Announcements/NEIL/code_red.ogg
  Resources/Audio/SimpleStation14/Announcements/NEIL/code_violet.ogg
  Resources/Audio/SimpleStation14/Announcements/NEIL/code_white.ogg
  Resources/Audio/SimpleStation14/Announcements/NEIL/code_yellow.ogg
  Resources/Audio/SimpleStation14/Announcements/NEIL/newai.ogg
  Resources/Locale/en-US/SimpleStation14/Content/Announcer/announce.ftl
  Resources/Prototypes/AlertLevels/alert_levels.yml
  Resources/Prototypes/GameRules/events.yml
  Resources/Prototypes/Nyanotrasen/GameRules/events.yml
  Resources/Prototypes/SimpleStation14/Announcers/intern.yml
  Resources/Prototypes/SimpleStation14/Announcers/medbot.yml
  Resources/Prototypes/SimpleStation14/Announcers/neil.yml
  Resources/Prototypes/SimpleStation14/Announcers/voxfem.yml
  Resources/Prototypes/round_announcements.yml
Labels: Status: Needs Review, Changes: UI, Changes: C#, Changes: YML, Changes: Localization

#106 Tweaked CSS and AI weights.
  Resources/Prototypes/SimpleStation14/Roles/Jobs/Command/stationai.yml
  Resources/Prototypes/SimpleStation14/Roles/Jobs/Service/chief_service_supervisor.yml
Labels: Status: Needs Review, Changes: YML

#100 Ftl names
  Resources/Locale/en-US/SimpleStation14/Prototypes/Uplink/uplink-catalog.ftl
  Resources/Locale/en-US/SimpleStation14/Prototypes/job/antags.ftl
  Resources/Locale/en-US/SimpleStation14/Prototypes/job/job-description.ftl
  Resources/Locale/en-US/SimpleStation14/Prototypes/job/job-names.ftl
  Resources/Locale/en-US/job/job-description.ftl
  Resources/Locale/en-US/job/job-names.ftl
  Resources/Locale/en-US/store/categories.ftl
  Resources/Prototypes/SimpleStation14/Catalog/uplink_catalog.yml
  Resources/Prototypes/SimpleStation14/Roles/Antags/minor.yml
  Resources/Prototypes/SimpleStation14/Roles/Antags/wizard.yml
  Resources/Prototypes/SimpleStation14/Roles/Jobs/Command/stationai.yml
  Resources/Prototypes/SimpleStation14/Roles/Jobs/Service/chief_service_supervisor.yml
  Resources/Prototypes/SimpleStation14/Store/categories.yml
  Resources/Prototypes/SimpleStation14/Traits/abilities.yml
  Resources/Prototypes/SimpleStation14/Traits/disabilities.yml
Labels: Status: Needs Review, Changes: YML, Changes: Localization

#105 Changes to the HoP suit helmet sprite
  Resources/Textures/SimpleStation14/Clothing/Head/Hardsuits/hopsuit.rsi/equipped-head-light.png
  Resources/Textures/SimpleStation14/Clothing/Head/Hardsuits/hopsuit.rsi/equipped-head.png
  Resources/Textures/SimpleStation14/Clothing/Head/Hardsuits/hopsuit.rsi/icon.png
  Resources/Textures/SimpleStation14/Clothing/Head/Hardsuits/hopsuit.rsi/light-overlay.png
Labels: Changes: Sprite, Status: Needs Review

#109 [Resprite] tgstation pill sprites
  Resources/Textures/Objects/Specific/Chemistry/pills.rsi/meta.json
  Resources/Textures/Objects/Specific/Chemistry/pills.rsi/pill.png
  Resources/Textures/Objects/Specific/Chemistry/pills.rsi/pill1.png
  Resources/Textures/Objects/Specific/Chemistry/pills.rsi/pill10.png
  Resources/Textures/Objects/Specific/Chemistry/pills.rsi/pill11.png
  Resources/Textures/Objects/Specific/Chemistry/pills.rsi/pill12.png
  Resources/Textures/Objects/Specific/Chemistry/pills.rsi/pill13.png
  Resources/Textures/Objects/Specific/Chemistry/pills.rsi/pill14.png
  Resources/Textures/Objects/Specific/Chemistry/pills.rsi/pill15.png
  Resources/Textures/Objects/Specific/Chemistry/pills.rsi/pill16.png
  Resources/Textures/Objects/Specific/Chemistry/pills.rsi/pill17.png
  Resources/Textures/Objects/Specific/Chemistry/pills.rsi/pill18.png
  Resources/Textures/Objects/Specific/Chemistry/pills.rsi/pill19.png
  Resources/Textures/Objects/Specific/Chemistry/pills.rsi/pill2.png
  Resources/Textures/Objects/Specific/Chemistry/pills.rsi/pill20.png
  Resources/Textures/Objects/Specific/Chemistry/pills.rsi/pill21.png
  Resources/Textures/Objects/Specific/Chemistry/pills.rsi/pill22.png
  Resources/Textures/Objects/Specific/Chemistry/pills.rsi/pill3.png
  Resources/Textures/Objects/Specific/Chemistry/pills.rsi/pill4.png
  Resources/Textures/Objects/Specific/Chemistry/pills.rsi/pill5.png
  Resources/Textures/Objects/Specific/Chemistry/pills.rsi/pill6.png
  Resources/Textures/Objects/Specific/Chemistry/pills.rsi/pill7.png
  Resources/Textures/Objects/Specific/Chemistry/pills.rsi/pill8.png
  Resources/Textures/Objects/Specific/Chemistry/pills.rsi/pill9.png
Labels: Changes: Sprite, Status: Needs Review
