Repository Simple-Station/Parkstation, pull requests merged in 2023-01, with the labels that each got.

#13 sloth :O
  sloth.txt
Labels: No C#

#14 sloth
  Scripts/bat/run1builddebug.bat
  Scripts/bat/run1buildrelease.bat
  Scripts/sh/run1builddebug.sh
  Scripts/sh/run1buildrelease.sh
Labels: No C#, Status: Needs Review

#15 Added Fingerless insuls for use in robodrobe
  Resources/Prototypes/Catalog/VendingMachines/Inventories/robodrobe.yml
  Resources/Prototypes/SimpleStation14/Entites/Clothing/Hands/gloves.yml
  Resources/Textures/SimpleStation14/Clothing/Hands/Gloves/fingerless_insuls.rsi/equipped-HAND.png
  Resources/Textures/SimpleStation14/Clothing/Hands/Gloves/fingerless_insuls.rsi/icon.png
  Resources/Textures/SimpleStation14/Clothing/Hands/Gloves/fingerless_insuls.rsi/inhand-left.png
  Resources/Textures/SimpleStation14/Clothing/Hands/Gloves/fingerless_insuls.rsi/inhand-right.png
  Resources/Textures/SimpleStation14/Clothing/Hands/Gloves/fingerless_insuls.rsi/meta.json
Labels: No C#, Changes: Sprites

#23 Improve build scripts and readme
  README.md
  Scripts/bat/run1buildDebug.bat
  Scripts/bat/run1buildRelease.bat
  Scripts/sh/run1buildDebug.sh
  Scripts/sh/run1buildRelease.sh
  Scripts/sh/run2configDev.sh
  Scripts/sh/run2configMap.sh
  Scripts/sh/run2configServer.sh
  Scripts/sh/run3server.sh
  Scripts/sh/run4client.sh
  sloth.txt
Labels: No C#, Status: Needs Review
